@charset "UTF-8";
@font-face {
    font-family:'Metro Sans';
    font-style:normal;
    font-weight: 400;
    src:url("https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Regular.woff2");
}
*{
    font-family: "Metro Sans", "Helvetica", "Arial", sans-serif;
    box-sizing: border-box;
}
html{
    line-height: normal;
    -webkit-text-size-adjust: 100%;
}
.content a {
    background-color: transparent;
}
.content a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}
.content img {
    border-style: none;
}

.content img {
    overflow-x: hidden;
    overflow-y: hidden;
    overflow-clip-margin: content-box;
}
.content svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}
.content p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.content article, div {
    display: block;
}
.content ul{
    margin: 0;
    padding: 0;
}
.content li{
    list-style: none;
    display: list-item;
    text-align: -webkit-match-parent;
}
.content{
    width: 100%;
}
.content .wrapper{
    position: relative;
    padding: 0;
    margin-bottom: 0;
}
.content .wrapper .box{
    width: 1200px;
    padding: 0 16px;
    margin: 0 auto;
}
.content .wrapper .box .board-head{
    position: relative;
    width: 100%;
    padding-top: 32px;
}
.content .wrapper .box .board-head .ad .ad-img{
    display: block;
    width: 100%;
}
.content .wrapper .box .board-main{
    padding-top: 40px;
    display: flex;
    gap: 24px;
    flex-direction: row;
}
.content .wrapper .box .board-main .side-bar{
    display: flex;
    flex-direction: column;
    flex: 0 0 214px;
}
.content .wrapper .box .board-main .side-bar .select{
    border-bottom: 2px solid rgb(255, 212, 0);
    padding-bottom: 16px;
    margin-bottom: 8px;
}
.content .wrapper .box .board-main .side-bar .select .select-name{
    margin: 0px;
    font-weight: 500;
    color: rgb(48, 52, 65);
    font-size: 22px;
}
.content .wrapper .box .board-main .side-bar .field .field-wrapper{
    padding: 8px 0px;
}
.content .wrapper .box .board-main .side-bar .field .field-wrapper .field-title{
    padding: 20px 0px 4px;
    color: rgb(48, 52, 65);
    font-size: 12px;
    font-weight: 700;
}
.content .wrapper .box .board-main .side-bar .field .field-wrapper .field-content-box{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.content .wrapper .box .board-main .side-bar .field .field-wrapper .field-content-box .field-content-link{
    width: 100%;
    text-decoration: none;
    color: inherit;
}
.content .wrapper .box .board-main .side-bar .field .field-wrapper .field-content-box .field-content-link .field-content{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 32px;
    color: rgb(85, 89, 105);
}
.content .wrapper .box .board-main .side-bar .field .field-wrapper .field-content-box .field-content-link .field-content .field-content-span{
    position: relative;
    flex: 1 1 0%;
    font-size: 13px;
    color: inherit;
}
.content .wrapper .box .board-main .board-body{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin-bottom: 40px;
}
.content .wrapper .box .board-main .board-body .route{
    margin-top: 8px;
    display: flex;
}
.content .wrapper .box .board-main .board-body .route .route-content{
    color: rgb(200, 202, 210);
    font-size: 13px;
}
.content .wrapper .box .board-main .board-body .route .route-link{
    padding: 0px 4px;
    color: rgb(154, 155, 167);
    font-size: 13px;
    text-decoration: none;
}
.content .wrapper .box .board-main .board-body .category{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 20px;
    z-index: 19;
}
.content .wrapper .box .board-main .board-body .category .category-body{
    display: flex;
    gap: 12px;
}
.content .wrapper .box .board-main .board-body .category .category-body .category-select{
    width: 137px;
}
.content .wrapper .box .board-main .board-body .category .category-body.category-budget{
    width: 80px;
}
.category-label{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 10px 12px;
    height: 42px;
    border: 1px solid rgb(228, 229, 237);
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
    color: rgb(48, 52, 65);
}
.category-label-svg-area{

    display: inline-block;
    font-style: normal;
    line-height: 0;
    text-align: center;
    text-transform: none;
    vertical-align: -0.125em;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    color: rgb(200, 202, 210);

}
.category-label-svg{
    display: inline-block;
}

.content .wrapper .box .board-main .board-body .count{
    margin-top: 24px;
}
.content .wrapper .box .board-main .board-body .count .count-box{
    font-size: 14px;
    margin: 0px;
}
.content .wrapper .box .board-main .board-body .contents{
    margin-top: 20px;
    height: 100%;
}
.content .wrapper .box .board-main .board-body .contents .contents-box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    min-height: 400px;
    gap: 48px 24px;
}


/*=========================================================*/
.content .wrapper .box .board-main .board-body .contents .contents-box .board-article .board-link {
    display: flex;
    width: 214px;
    max-height: 303px;
    flex-direction: column;
    position: relative;
    text-decoration: none;
}
.content .wrapper .box .board-main .board-body .contents .contents-box .board-article .board-link .board-img {
    position: relative;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.content .wrapper .box .board-main .board-body .contents .contents-box .board-article .board-link .board-img .img-box{
    position: relative;
    background-color: rgb(242, 243, 247);
}
.content .wrapper .box .board-main .board-body .contents .contents-box .board-article .board-link .board-img .img-box .img-wrapper {
    display: flex;
    height: 160px;
}
.content .wrapper .box .board-main .board-body .contents .contents-box .board-article .board-link .board-img .img-box .img-wrapper .img-area {
    position: absolute;
    inset: 0px;
    display: block;
}
.content .wrapper .box .board-main .board-body .contents .contents-box .board-article .board-link .board-img .img-box .img-wrapper .img-area .title-img {
    display: block;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
    opacity: 1;
}
.content .wrapper .box .board-main .board-body .contents .contents-box .board-article .board-link .board-img .img-box .img-wrapper .img-area .title-img:hover{
    transform: scale(1.1);
}
.content .wrapper .box .board-main .board-body .contents .contents-box .board-article .board-link .heart-button-wrapper {
    position: absolute;
    top: 8px;
    right: 8px;
}
.content .wrapper .box .board-main .board-body .contents .contents-box .board-article .board-link .heart-button-wrapper .heart-button {
    transition: background-color 0.3s ease 0s;
    padding: 1px;
    border-radius: 4px;
    outline: none;
    border: none;
    background-color: transparent;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
}
.content .wrapper .box .board-main .board-body .contents .contents-box .board-article .board-link .heart-button-wrapper .heart-button .heart {
    display: inline-block;
    color: inherit;
    font-style: normal;
    line-height: 0;
    text-align: center;
    text-transform: none;
    vertical-align: -0.125em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #ffffff;
}
.content .wrapper .box .board-main .board-body .contents .contents-box .board-article .board-link .heart-button-wrapper .heart-button .heart .heart-svg {
    display: inline-block;
}
.content .wrapper .box .board-main .board-body .contents .contents-box .board-article .board-link .board-field {
    padding-top: 16px;
    color: rgb(48, 52, 65);
}

.content .wrapper .box .board-main .board-body .contents .contents-box .board-article .board-link .board-field .board-field-task-area {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.content .wrapper .box .board-main .board-body .contents .contents-box .board-article .board-link .board-field .board-field-task-area .task {
    color: rgb(154, 155, 167);
    font-size: 11px;
}
.content .wrapper .box .board-main .board-body .contents .contents-box .board-article .board-link .board-field .board-field-title{
    word-break: break-all;
    overflow: hidden;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-weight: normal;
    margin: 8px 0px 16px;
    font-size: 14px;
    line-height: 21px;
    height: 42px;
}
.content .wrapper .box .board-main .board-body .contents .contents-box .board-article .board-link .board-field .wage-wrapper {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.content .wrapper .box .board-main .board-body .contents .contents-box .board-article .board-link .board-field .wage-wrapper .space-area {
    -webkit-box-flex: 1;
    flex-grow: 1;
}
.content .wrapper .box .board-main .board-body .contents .contents-box .board-article .board-link .board-field .wage-wrapper .wage-area {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.content .wrapper .box .board-main .board-body .contents .contents-box .board-article .board-link .board-field .wage-wrapper .wage-area .wage-img {
    width: 23px;
    margin-right: 2px;
}
.content .wrapper .box .board-main .board-body .contents .contents-box .board-article .board-link .board-field .wage-wrapper .wage-area .wage {
    font-size: 17px;
    font-weight: bold;
    color: rgb(48, 52, 65);
    height: 23px;
}
.content .wrapper .box .board-main .board-body .contents .contents-box .board-article .board-link .board-field .evaluation-area {
    margin-top: 4px;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(154, 155, 167);
    font-size: 11px;
}
.content .wrapper .box .board-main .board-body .contents .contents-box .board-article .board-link .board-field .evaluation-area .star {
    display: inline-block;
    font-style: normal;
    line-height: 0;
    text-align: center;
    text-transform: none;
    vertical-align: -0.125em;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    margin: -2px 2px 0px 0px;
    color: rgb(200, 202, 210);
}
.content .wrapper .box .board-main .board-body .contents .contents-box .board-article .board-link .board-field .evaluation-area .star .star-svg {
    display: inline-block;
}
.star-color {/* 색 있는 컬러 */
    display: inline-block;
    font-style: normal;
    line-height: 0;
    text-align: center;
    text-transform: none;
    vertical-align: -0.125em;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    margin: -2px 2px 0px 0px;
    color: rgb(251, 132, 45);
}
.star-count {
    display: inline-block;
    margin: 0px 4px;
    width: 1px;
    border-left: 1px solid rgb(228, 229, 237);
    height: 10px;
}