<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>아이 돌봄 서비스 ~ 자주 묻는 질문</title>

    <!-- 스타일 시트-->
    <link rel="stylesheet" type="text/css" href="../../static/css/header.css"><!--맨 위-->
    <link rel="stylesheet" type="text/css" href="../../static/css/footer.css"><!--맨 밑-->

    <link rel="stylesheet" type="text/css" href="../../static/css/FAQ.css">   <!-- 직접 수정 및 추가하는 스타일 -->
    <link rel="stylesheet" type="text/css" href="../../static/css/FAQ_view.css">   <!-- 직접 수정 및 추가하는 스타일 -->

    <!-- 추가 스크립트 -->
    <script src = "../../static/js/includeHtml.js"></script>


</head>


<body>
<div id="wrap">


    <!-- 헤더 부분 -->
    <header>
        <div class="header1">
            <div class="header1-1">
                <div class="header1-2">
                    <a href="#"><img src="../../static/images/parentsitter/header.png" width="170px" height="40px"></a>
                </div>
                <div class="header1-3">
                    <a href="#" >보듬미</a>
                </div>
                <div class="header1-4">
                    <button role="button" color="black" class="header1-5">
                        <p>베이비시터 등록</p>
                    </button>
                    <button role="button" color="black" class="header1-6">
                        <p>로그인</p>
                    </button>
                    <a href="#" class="header1-7">무료 회원가입</a>

                </div>
            </div>
        </div>

        <div class="header2">
            <div class="header2-1">
                <a href="#" class="header2-2">홈</a>
            </div>
            <div class="header2-1">
                <a href="#" class="header2-2">부모 페이지</a>
            </div>
            <div class="header2-1">
                <a href="#" class="header2-2">베이비시터 페이지</a>
            </div>
            <div class="header2-1">
                <a href="#" class="header2-2">마이 페이지</a>
            </div>
            <div class="header2-1">
                <a href="#" class="header2-2">커뮤니티</a>
            </div>
            <div class="header2-1">
                <a href="#" class="header2-2">FAQ</a>
            </div>
        </div>
    </header>



    <main role="main">
        <div class="container-divider"></div>
        <div class="container">
            <nav class="sub-nav">
                <ol class="breadcrumbs">

                    <li title="FAQ">

                        <a href="/hc/ko/categories/360001643071-FAQ">FAQ</a>

                    </li>


                </ol>

                <form role="search" class="search" data-search="" action="/hc/ko/search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓" autocomplete="off"><input type="hidden" name="category" id="category" value="360001643071" autocomplete="off">
                    <input type="search" name="query" id="query" placeholder="검색" aria-label="검색"></form>
            </nav>

            <div class="article-container" id="article-container">
                <section class="article-sidebar">

                    <section class="section-articles collapsible-sidebar">
                        <h3 class="collapsible-sidebar-title sidenav-title">이 섹션의 문서</h3>
                        <ul>

                            <li>
                                <a href="/hc/ko/articles/4408006274969--%EC%97%94%ED%84%B0%ED%94%84%EB%9D%BC%EC%9D%B4%EC%A6%88-%EC%84%9C%EB%B9%84%EC%8A%A4-%EC%9D%B4%EC%9A%A9-%EC%8B%9C-%EC%9D%98%EB%A2%B0-%EB%82%B4%EC%9A%A9%EC%9D%80-%EB%B3%B4%ED%98%B8%EB%90%98%EB%82%98%EC%9A%94-" class="sidenav-item current-article"><p class="sidenav-item-text">[엔터프라이즈] 서비스 이용 시 의뢰 내용은 보호되나요?</p></a>
                            </li>

                            <li>
                                <a href="/hc/ko/articles/4407872479641--%EC%97%94%ED%84%B0%ED%94%84%EB%9D%BC%EC%9D%B4%EC%A6%88-%EC%99%B8%EC%A3%BC%EC%99%80-%EC%83%81%EC%A3%BC-%ED%94%84%EB%A1%9C%EC%A0%9D%ED%8A%B8%EB%8A%94-%EB%AC%B4%EC%97%87%EC%9D%B4-%EB%8B%A4%EB%A5%B8%EA%B0%80%EC%9A%94-" class="sidenav-item "><p class="sidenav-item-text">[엔터프라이즈] 외주와 상주 프로젝트는 무엇이 다른가요?</p></a>
                            </li>

                            <li>
                                <a href="/hc/ko/articles/4407790526745--%EC%97%94%ED%84%B0%ED%94%84%EB%9D%BC%EC%9D%B4%EC%A6%88-%ED%94%84%EB%A1%9C%EC%A0%9D%ED%8A%B8%EC%97%90-%EB%8C%80%ED%95%9C-%EC%84%B8%EA%B8%88%EA%B3%84%EC%82%B0%EC%84%9C%EB%8A%94-%EB%88%84%EA%B0%80-%EB%B0%9C%ED%96%89%ED%95%98%EB%82%98%EC%9A%94-" class="sidenav-item "><p class="sidenav-item-text">[엔터프라이즈] 프로젝트에 대한 세금계산서는 누가 발행하나요?</p></a>
                            </li>

                            <li>
                                <a href="/hc/ko/articles/4407790078873--%EC%97%94%ED%84%B0%ED%94%84%EB%9D%BC%EC%9D%B4%EC%A6%88-%ED%94%84%EB%A1%9C%EC%A0%9D%ED%8A%B8-%EB%B9%84%EC%9A%A9%EC%9D%84-%EB%B6%84%ED%95%A0%EA%B2%B0%EC%A0%9C%ED%95%A0-%EC%88%98-%EC%9E%88%EB%82%98%EC%9A%94-" class="sidenav-item "><p class="sidenav-item-text">[엔터프라이즈] 프로젝트 비용을 분할결제할 수 있나요?</p></a>
                            </li>

                            <li>
                                <a href="/hc/ko/articles/4407789820953--%EC%97%94%ED%84%B0%ED%94%84%EB%9D%BC%EC%9D%B4%EC%A6%88-%ED%94%84%EB%A1%9C%EC%A0%9D%ED%8A%B8%EC%99%80-%EA%B4%80%EB%A0%A8%ED%95%98%EC%97%AC-%EC%A0%84%EB%AC%B8%EA%B0%80%EC%99%80-%EC%82%AC%EC%A0%84-%EB%AF%B8%ED%8C%85%ED%95%A0-%EC%88%98-%EC%9E%88%EB%82%98%EC%9A%94-" class="sidenav-item "><p class="sidenav-item-text">[엔터프라이즈] 프로젝트와 관련하여 전문가와 사전 미팅할 수 있나요?</p></a>
                            </li>

                            <li>
                                <a href="/hc/ko/articles/4407276216857--%EC%97%94%ED%84%B0%ED%94%84%EB%9D%BC%EC%9D%B4%EC%A6%88-%EC%A0%95%EB%B6%80%EC%A7%80%EC%9B%90%EC%82%AC%EC%97%85-%ED%94%84%EB%A1%9C%EC%A0%9D%ED%8A%B8%EB%8F%84-%EC%9D%B4%EC%9A%A9%ED%95%A0-%EC%88%98-%EC%9E%88%EB%82%98%EC%9A%94-" class="sidenav-item "><p class="sidenav-item-text">[엔터프라이즈] 정부지원사업 프로젝트도 이용할 수 있나요?</p></a>
                            </li>

                            <li>
                                <a href="/hc/ko/articles/4407268991001--%EC%97%94%ED%84%B0%ED%94%84%EB%9D%BC%EC%9D%B4%EC%A6%88-%EC%97%94%ED%84%B0%ED%94%84%EB%9D%BC%EC%9D%B4%EC%A6%88-%EC%84%9C%EB%B9%84%EC%8A%A4%EB%8A%94-%EB%B3%84%EB%8F%84%EC%9D%98-%EC%9D%B4%EC%9A%A9-%EC%9A%94%EA%B8%88%EC%9D%B4-%EC%9E%88%EB%82%98%EC%9A%94-" class="sidenav-item "><p class="sidenav-item-text">[엔터프라이즈] 엔터프라이즈 서비스는 별도의 이용 요금이 있나요?</p></a>
                            </li>

                            <li>
                                <a href="/hc/ko/articles/4407176742553--%EC%97%94%ED%84%B0%ED%94%84%EB%9D%BC%EC%9D%B4%EC%A6%88-%EC%97%94%ED%84%B0%ED%94%84%EB%9D%BC%EC%9D%B4%EC%A6%88%EB%8A%94-%EC%96%B4%EB%96%BB%EA%B2%8C-%EC%9D%B4%EC%9A%A9%ED%95%98%EB%82%98%EC%9A%94-" class="sidenav-item "><p class="sidenav-item-text">[엔터프라이즈] 엔터프라이즈는 어떻게 이용하나요?</p></a>
                            </li>

                            <li>
                                <a href="/hc/ko/articles/4407169956249--%EC%97%94%ED%84%B0%ED%94%84%EB%9D%BC%EC%9D%B4%EC%A6%88-%EC%97%94%ED%84%B0%ED%94%84%EB%9D%BC%EC%9D%B4%EC%A6%88%EB%9E%80-%EB%AC%B4%EC%97%87%EC%9D%B8%EA%B0%80%EC%9A%94-" class="sidenav-item "><p class="sidenav-item-text">[엔터프라이즈] 엔터프라이즈란 무엇인가요?</p></a>
                            </li>

                        </ul>

                    </section>

                </section>

                <article class="article">
                    <header class="article-header">
                        <h1 title="[엔터프라이즈] 서비스 이용 시 의뢰 내용은 보호되나요?" class="article-title">
                            [분류] 질문의 제목

                        </h1>

                    </header>

                    <!-- 질의응답 내용 작성은 하드코딩... -->
                    <section class="article-info">
                        <div class="article-content">
                            <div class="article-body">
                                <p>&nbsp;</p><p>프로젝트 규모와 유형에 따라 세금계산서 발행 주체가 달라집니다.</p>
                                <p>&nbsp;</p>
                                <p><strong><span class="wysiwyg-color-orange80">■ </span>전담 매니저가 배정되지 않은 프로젝트</strong></p>
                                <p><span class="wysiwyg-underline">전문가가 세금계산서를 직접 발행</span>합니다.<br>1) 의뢰 글 작성 시 선택하신 '세금계산서 발행 여부'가 전문가에게 노출됩니다.<br>2) 프로젝트에 제안한 전문가에게 세금계산서 발행 여부를 확인하고, 결제 시 발행 정보를 입력합니다.<br>3) 거래가 완료된 이후, 구매확정일을 기준으로 세금계산서를 발행 받습니다.</p>
                                <p>&nbsp;</p>
                                <p><strong><span class="wysiwyg-color-orange80">■ </span>전담 매니저가 배정된 프로젝트</strong></p>
                                <p>전담 매니저 배정 및 상담을 통해 계약 형태가 결정되며, 계약 형태에 따라 <span class="wysiwyg-underline">세금계산서 발행 주체가 달라</span>집니다.<br><span>1) 보듬미 3자 계약<br>- 의뢰인, 전문가, 보듬미 3자 간의 계약 방식입니다.<br>- 보듬미 플랫폼 내에서 안전결제를 진행하시면, 전문가가 의뢰인에게 세금계산서를 발행합니다.<br><br>2) 양자 계약<br>- 의뢰인, 전문가 양자 간의 계약 방식입니다.<br>- 전담 매니저를 통해 전문가에게 거래 대금을 지급하시면, 전문가가 의뢰인에게 세금계산서 발행합니다.<br><br>3) 마스터 계약<br>- 의뢰인-보듬미, 보듬미-전문가 간의 계약 방식입니다.<br>- 전담 매니저를 통해 보듬미로 거래 대금을 지급하시면, 보듬미가 의뢰인에게 세금계산서를 발행합니다.<br></span></p>
                            </div>

                        </div>
                    </section>
                    <footer>
                        <div class="article-footer"></div>

                        <div class="article-return-to-top">
                            <a href="#article-container">맨 위로 돌아가기<span class="icon-arrow-up"><img src="../../static/images/common/arrow-up.png" width="15"></span></a>
                        </div>
                    </footer>

                    <section class="article-relatives">


                    </section>



                </article>

            </div>
        </div>

    </main>


    <!--footer 부분  -->
    <footer>
        <div class="footer1">
            <div class="footer-left">
                <p class="f2">고객센터</p>
                <p class="f3">10:30~18:00 (점심시간 13:00 ~ 14:00)</p>
                <p class="f4">주말, 공휴일 휴무</p>
                <div class="footer-askButton">
                    <a role="link" href="#" target="_blank"><p>1:1문의</p></a>
                </div>
            </div>

            <div class="footer-cell">
                <p class="footer-section">보듬미</p>
                <ul class="footer-links">
                    <li>보듬미 메인</li>
                    <li>부모 페이지</li>
                    <li>베이비시터 페이지</li>
                </ul>
            </div>

            <div class="footer-cell">
                <p class="footer-section">보듬미 회원</p>
                <ul class="footer-links">
                    <li>로그인</li>
                    <li>회원가입</li>
                    <li>마이페이지</li>
                </ul>
            </div>

            <div class="footer-cell">
                <p class="footer-section">지원</p>
                <ul class="footer-links">
                    <li>커뮤니티</a></li>
                    <li>FAQ</a></li>

                </ul>
            </div>

        </div>

        <hr class="hr">

        <div class="footer2">
            <div class="footer-address"> (주)보듬미 || 서울시 강남구 태헤란로00,13층 || 대표:보듬미 || 개인정보관리책임자: 홍길동 || 사업자등록번호:123-45-67898
                <br>
                통신판매업신고 : 2022-서울강남-2134 유료직업소개사업등록번호 : 제2022-123456-12-3-00012호 고객센터 : 5959-7979help@Bodeumme.com
            </div>
            <div class="footer-notice">
                <p>(주)보듬미는 의뢰인와 시터간의 계약에 관한 의무와 책임은 각각 개인에게 있습니다.</p>
            </div>
            <div class="footer-notice">
                <p>보듬미의 중계서비스/거래 정보, 콘텐츠,UI등에 대한 무단복제,전송,배포스크래핑 등의 행위는 저작권법, 콘텐츠산업진흥 등 관련법령에 의하여 엄격히 금지됩니다.</p>
            </div>
            <div class="footer-copyright">
                <p>Copyright&copy2022 BodeumMe Inc. Allrights reserved</p>
            </div>
        </div>
    </footer>


</div>






</body>
</html>