<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>아이 돌봄 서비스 ~ 자주 묻는 질문</title>

    <!-- 스타일 시트-->
    <link rel="stylesheet" type="text/css" href="../../static/css/header.css"><!--맨 위-->
    <link rel="stylesheet" type="text/css" href="../../static/css/footer.css"><!--맨 밑-->

    <link rel="stylesheet" type="text/css" href="../../static/css/FAQ.css">   <!-- 직접 수정 및 추가하는 스타일 -->
    <link rel="stylesheet" type="text/css" href="../../static/css/FAQ_list.css">   <!-- 직접 수정 및 추가하는 스타일 -->

    <!-- 추가 스크립트 -->
    <script src = "../../static/js/includeHtml.js"></script>

</head>


<body>
<div id="wrap">

    <!-- 헤더 부분 -->
    <header>
        <div class="header1">
            <div class="header1-1">
                <div class="header1-2">
                    <a href="#"><img src="../../static/images/parentsitter/header.png" width="170px" height="40px"></a>
                </div>
                <div class="header1-3">
                    <a href="#" >보듬미</a>
                </div>
                <div class="header1-4">
                    <button role="button" color="black" class="header1-5">
                        <p>베이비시터 등록</p>
                    </button>
                    <button role="button" color="black" class="header1-6">
                        <p>로그인</p>
                    </button>
                    <a href="#" class="header1-7">무료 회원가입</a>

                </div>
            </div>
        </div>

        <div class="header2">
            <div class="header2-1">
                <a href="#" class="header2-2">홈</a>
            </div>
            <div class="header2-1">
                <a href="#" class="header2-2">부모 페이지</a>
            </div>
            <div class="header2-1">
                <a href="#" class="header2-2">베이비시터 페이지</a>
            </div>
            <div class="header2-1">
                <a href="#" class="header2-2">마이 페이지</a>
            </div>
            <div class="header2-1">
                <a href="#" class="header2-2">커뮤니티</a>
            </div>
            <div class="header2-1">
                <a href="#" class="header2-2">FAQ</a>
            </div>
        </div>
    </header>


    <main role="main" id="main">
        <div class="container-divider"></div>
        <div class="container">
            <nav class="sub-nav">
                <ol class="breadcrumbs">

                    <li title="FAQ">

                        FAQ

                    </li>

                </ol>

                <form role="search" class="search" data-search="" action="/hc/ko/search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓" autocomplete="off"><input type="search" name="query" id="query" placeholder="검색" aria-label="검색"></form>
            </nav>

            <div class="category-container">
                <div class="category-content">
                    <header class="page-header">
                        <h1><div class="page-title">자주 묻는 질문</div></h1>

                    </header>

                    <div class="section-tree">

                        <section class="section">
                            <h3 class="section-tree-title">
                                <a href="#">엔터프라이즈</a>
                            </h3>

                            <ul class="article-list">

                                <li class="article-list-item">

                                    <a href="FAQ_view00.html" class="article-list-link">[엔터프라이즈] 서비스 이용 시 의뢰 내용은 보호되나요?</a>

                                </li>

                                <li class="article-list-item">

                                    <a href="FAQ_view01.html" class="article-list-link">[엔터프라이즈] 서비스에 대한 세금계산서는 누가 발행하나요?</a>

                                </li>

                                <li class="article-list-item">

                                    <a href="FAQ_view02.html" class="article-list-link">[엔터프라이즈] 서비스 비용을 분할결제할 수 있나요?</a>

                                </li>

                                <li class="article-list-item">

                                    <a href="FAQ_view03.html" class="article-list-link">[엔터프라이즈] 서비스와 관련하여 시터와 사전 미팅할 수 있나요?</a>

                                </li>


                            </ul>



                        </section>


                        <section class="section">
                            <h3 class="section-tree-title">
                                <a href="#">서비스 소개</a>
                            </h3>

                            <ul class="article-list">

                                <li class="article-list-item">

                                    <a href="#" class="article-list-link">[서비스 소개] 아이 돌봄 서비스는 어떻게 이용하나요?</a>

                                </li>

                                <li class="article-list-item">

                                    <a href="#" class="article-list-link">[서비스 소개] 보듬미 이용가이드: 의뢰인 편</a>

                                </li>

                                <li class="article-list-item">

                                    <a href="#" class="article-list-link">[서비스 소개] 보듬미 이용가이드: 베이비시터 편</a>

                                </li>

                                <li class="article-list-item">

                                    <a href="#" class="article-list-link">[서비스 소개] 제휴 문의는 어떻게 접수하나요?</a>

                                </li>

                            </ul>


                        </section>


                        <section class="section">
                            <h3 class="section-tree-title">
                                <a href="#">이용방법</a>
                            </h3>

                            <ul class="article-list">

                                <li class="article-list-item">

                                    <a href="#" class="article-list-link">[이용방법] 어떤 결제 수단을 사용할 수 있나요?</a>

                                </li>


                                <li class="article-list-item">

                                    <a href="#" class="article-list-link">[이용방법] 서비스 알림은 무엇이며, 어떻게 설정하나요?</a>

                                </li>

                                <li class="article-list-item">

                                    <a href="#" class="article-list-link">[이용방법] 사용자 유형을 전환할 수 있나요?</a>

                                </li>

                            </ul>

                        </section>


                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="article-footer"></div>

            <div class="article-return-to-top">
                <a href="#header">맨 위로 돌아가기<span class="icon-arrow-up"><img src="../../static/images/common/arrow-up.png" width="15"></span></a>
            </div>
        </footer>

        <div class="container-divider"></div>

    </main>

    <!--footer 부분  -->
    <footer>
        <div class="footer1">
            <div class="footer-left">
                <p class="f2">고객센터</p>
                <p class="f3">10:30~18:00 (점심시간 13:00 ~ 14:00)</p>
                <p class="f4">주말, 공휴일 휴무</p>
                <div class="footer-askButton">
                    <a role="link" href="#" target="_blank"><p>1:1문의</p></a>
                </div>
            </div>

            <div class="footer-cell">
                <p class="footer-section">보듬미</p>
                <ul class="footer-links">
                    <li>보듬미 메인</li>
                    <li>부모 페이지</li>
                    <li>베이비시터 페이지</li>
                </ul>
            </div>

            <div class="footer-cell">
                <p class="footer-section">보듬미 회원</p>
                <ul class="footer-links">
                    <li>로그인</li>
                    <li>회원가입</li>
                    <li>마이페이지</li>
                </ul>
            </div>

            <div class="footer-cell">
                <p class="footer-section">지원</p>
                <ul class="footer-links">
                    <li>커뮤니티</a></li>
                    <li>FAQ</a></li>

                </ul>
            </div>

        </div>

        <hr class="hr">

        <div class="footer2">
            <div class="footer-address"> (주)보듬미 || 서울시 강남구 태헤란로00,13층 || 대표:보듬미 || 개인정보관리책임자: 홍길동 || 사업자등록번호:123-45-67898
                <br>
                통신판매업신고 : 2022-서울강남-2134 유료직업소개사업등록번호 : 제2022-123456-12-3-00012호 고객센터 : 5959-7979help@Bodeumme.com
            </div>
            <div class="footer-notice">
                <p>(주)보듬미는 의뢰인와 시터간의 계약에 관한 의무와 책임은 각각 개인에게 있습니다.</p>
            </div>
            <div class="footer-notice">
                <p>보듬미의 중계서비스/거래 정보, 콘텐츠,UI등에 대한 무단복제,전송,배포스크래핑 등의 행위는 저작권법, 콘텐츠산업진흥 등 관련법령에 의하여 엄격히 금지됩니다.</p>
            </div>
            <div class="footer-copyright">
                <p>Copyright&copy2022 BodeumMe Inc. Allrights reserved</p>
            </div>
        </div>
    </footer>

</div>
<!-- wrap end -->


</body>
</html>