.content {
    width: 100%;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),color-stop(60.62%,#e9f1f8),to(#f2f5f7));
    background-image: -webkit-linear-gradient(top,#fff 0,#e9f1f8 60.62%,#f2f5f7 100%);
    background-image: linear-gradient(to bottom,#fff 0,#e9f1f8 60.62%,#f2f5f7 100%);
    min-height: 800px;
    overflow: hidden;
}

.content .article-info {
    text-align: left;
}


.content .con01 {
    width: 100%;
    max-width: 670px;
    min-height: 800px;
    border-left: 1px solid #DEDEDE;
    border-right: 1px solid #DEDEDE;
    background-color: #FFFFFF;
    margin: 0 auto;
    padding: 50px 20px;
    position: relative;
    box-sizing: border-box;
}

.article-header{
    padding-bottom: 10px;
}

.article-title {
    font-size: 1.4em;
    color: #3364c5;
    margin-bottom: 15px;
    text-align: center;
}
.content .article-date{
    text-align: right;

}

.paginate .paging .page a{
    color: #2795e9;
}


.article-return-to-top a {
    display: block;
    padding: 15px 30px;
    text-align: right;
}

#icon-arrow-up img {
    width: 20px;
    height : 20px;
}


.article-relatives {
    border-top: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.page-header h1 {
    flex-grow: 1;
    margin-bottom: 10px;
}

.page-title {
    font-size: 28px;
    font-weight: 700;
    color: #474646;
}

.section-tree {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.article-sidebar {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    flex: 1 0 auto;
    margin-bottom: 20px;
    padding: 0;
    color: #666666;
}

.collapsible-sidebar {
    flex: 1;
    max-height: 45px;
    overflow: hidden;
    padding: 10px 0;
    position: relative;
}
.collapsible-sidebar[aria-expanded="true"] {
    max-height: none;
}

.sidenav-title {
    font-size: 15px;
    position: relative;
}
.collapsible-sidebar-title {
    margin-top: 0;
}




