
.sub-nav {
    align-items: baseline;
    flex-direction: row;
}

.category-container {
    display: flex;
    justify-content: flex-end;
}
.category-content {
    flex: 1;
}

.page-header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 0;
}

.page-header h1 {
    flex-grow: 1;
    margin-bottom: 10px;
}

.page-title {
    font-size: 28px;
    font-weight: 700;
    color: #0095d0;
}

.section-tree {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}
.article-list-item a {
    color: rgba(102, 102, 102, 1);
}
