
#main{
    margin: 15px;
    margin-top: 0px;
}

ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

ol, ul {
    list-style: none;
}

.container-divider {
    border-top: 1px solid #a7a7a7;
    margin-bottom: 20px;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 5%;
}

.breadcrumbs {
    margin: 0 0 15px 0;
    padding: 0;
    font-weight: 400;
    color: #666666;
}

.breadcrumbs li {
    display: inline;
    font-weight: 400;
    font-size: 13px;
    max-width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgba(102, 102, 102, 0.8);
}

.category-container {
    display: flex;
    justify-content: flex-end;
}
.category-content {
    flex: 1;
}

.page-header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 0;
}

.page-header h1 {
    flex-grow: 1;
    margin-bottom: 10px;
}

.page-title {
    font-size: 28px;
    font-weight: 700;
    color: #0095d0;
}

.section-tree {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

