/* 헤더 부분 */
.header1{
    margin-top: 30px;
    width: 1200px;
    height: 74px;
    display: flex;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
}

.header1-1{
    margin-top: 30px;

}
.header1-2{
    float: left;
    margin-right: 20px;


}
.header1-3{
    display: flex;
    justify-content: center;
    float: left;
    font-size: 22px;
    line-height: normal;
    font-weight: 700;

}
.header1-3 a {
    color: #303441;
    margin-top: 5px;

}

.header1-4 {
    margin-left: 830px;
    margin-top: 10px;
}

.header1-5{
    margin-right: 10px;
    outline: none;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: 700;
    justify-content: center;
    cursor: pointer;
    height: 42px;
    background-color: transparent;
    border-color: transparent;
    color: #303441;

}
.header1-6{
    margin-right: 10px;
    outline: none;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: 700;
    justify-content: center;
    cursor: pointer;
    height: 42px;
    background-color: transparent;
    border-color: transparent;
    color: #303441;
}

.header1-7{
    max-width: 100%;
    height: 42px;
    font-size: 16px;
    padding: 10px 22px;
    background-color: #ffd400;
    border-color: #ffd400;
    color: #303441;
    outline: none;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    border-radius: 4px;
    line-height: 1;
    font-weight: 700;

}

.header2{
    width: 1200px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 800;
    font-family: "Metro Sans", "Helvetica", "Arial", sans-serif;
    margin-top: 20px;
}

.header2 a{
    color:#303441;
}

.header2 a:hover{
    color: #ffd400;
    text-decoration: underline;
}
