/*<!-- 컨텐츠, 메뉴 바로가기:e -->*/

.header { width:100%; position:relative; border-bottom:1px solid #CCCCCC; overflow:hidden; position:fixed; top:0; z-index:10; background-color:#FFFFFFa8 }
.header.slide { background-color:#FFFFFFFF }
.header .top { max-width:1100px; width:100%; margin:0 auto; }
.header .top .top_logo { max-width:220px; width:100%; float:left; text-align:center; padding:30px 20px 20px 0; box-sizing:border-box; margin:0 50px 0 0; }
.header .top .top_logo .menu { display:none; }
.header .top .top_logo .logo { width:100%; }
.header .top .top_navigation { max-width:800px; width:100%; box-sizing:border-box; float:left; }
.header .top .top_navigation ul.menu01 { max-width:530px; width:100%; float:left; box-sizing:border-box; padding:50px 0 20px 0; }
.header .top .top_navigation ul.menu01 li { position:relative; display:inline-block; float:left; margin:0 55px 0 0; }
.header .top .top_navigation ul.menu02 { max-width:270px; width:100%; float:right; box-sizing:border-box; text-align:right; padding:40px 0 20px 0;   }
.header .top .top_navigation ul.menu02 .btn01 { display:inline-block; padding:10px 20px 10px 20px; margin:0 5px 0 5px; border:0; border-radius:50px; background-color:#f8b400; color:#FFFFFF }
.header .top .top_navigation ul.menu02 .btn02 { display:inline-block; padding:10px 20px 10px 20px; margin:0 5px 0 5px; border:0; border-radius:50px; background-color:#2c786c; color:#FFFFFF }
.header .top .top_navigation ul.menu02 .btn03 { display:inline-block; position:absolute; right:0; top:0; }

.header { width:100%; position:relative; border-bottom:1px solid #CCCCCC; overflow:hidden; position:relative; top:0; z-index:10; background-color: #ffffff; box-shadow:0px 5px 7px #DEDEDE; }


@media (max-width:1000px) {
    .header .top .top_logo { max-width:25%; padding:20px 0 5px 0; margin:0 0 0 5%;}
    .header .top .top_navigation ul.menu01 { max-width:100%; font-size:1em; padding:15px 0 15px 0;  }
    .header .top .top_navigation ul.menu01 li { margin:0; width:25%; text-align:center; }
    .header .top .top_navigation ul.menu02 { max-width:75%; position:absolute; right:10px; top:0; font-size:0.7em; padding:25px 0 0 0; }
    .header .top .top_navigation ul.menu02 .btn01 { padding:5px 10px 5px 10px; margin:0 2px 0 2px; }
    .header .top .top_navigation ul.menu02 .btn02 { padding:5px 10px 5px 10px; margin:0 2px 0 2px; }
}

@media (max-width:410px) {
    .header .top .top_logo { max-width:160px; text-align:left; margin:0 0 0 3%;}
    .header .top .top_logo a { overflow:hidden; }
    .header .top .top_logo .menu { width:24px; display:none; vertical-align:middle; margin:0 0 0 0; }
    .header .top .top_logo .logo { width:110px; vertical-align:middle; margin:0 0 0 5px }
    .header .top .top_navigation ul.menu01 { font-size:0.9em;  }
}

@media (max-width:365px) {
    .header .top .top_navigation ul.menu01 { font-size:0.8em;  }
}


