*{
    font-family: 'Metro Sans',sans-serif;
    box-sizing: border-box;
}
div{
    display: block;
}
li{
    list-style: none;
}
a{
    background-color: transparent;
}
article{
    display: block;
}
.header1{
    margin-top: 30px;
    width: 1200px;
    height: 74px;
    display: flex;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
}

.header1-1{
    margin-top: 30px;

}
.header1-2{
    float: left;
    margin-right: 20px;


}
.header1-3{
    display: flex;
    justify-content: center;
    float: left;
    font-size: 22px;
    line-height: normal;
    font-weight: 700;

}
.header1-3 a {
    color: #303441;
    margin-top: 5px;

}

.header1-4 {
    margin-left: 830px;
    margin-top: 10px;
}

.header1-5{
    margin-right: 10px;
    outline: none;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: 700;
    justify-content: center;
    cursor: pointer;
    height: 42px;
    background-color: transparent;
    border-color: transparent;
    color: #303441;

}
.header1-6{
    margin-right: 10px;
    outline: none;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: 700;
    justify-content: center;
    cursor: pointer;
    height: 42px;
    background-color: transparent;
    border-color: transparent;
    color: #303441;
}

.header1-7{
    max-width: 100%;
    height: 42px;
    font-size: 16px;
    padding: 10px 22px;
    background-color: #ffd400;
    border-color: #ffd400;
    color: #303441;
    outline: none;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    border-radius: 4px;
    line-height: 1;
    font-weight: 700;

}

.header2{
    width: 1200px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 800;
    font-family: "Metro Sans", "Helvetica", "Arial", sans-serif;
    margin-top: 20px;
}

.header2 a{
    color:#303441;
}

.header2 a:hover{
    color: #ffd400;
    text-decoration: underline;
}

.space{
    width: 100px;
    height: 30px;
}
.icon_1{
    padding: 8px 0px;
    width: 108px;
    height: 96px;
    position: relative;
    /* background-color: antiquewhite; */
}
.main{
    position: relative;
    margin-bottom: 80px;
    display: grid;
    grid-gap: 80px
}
.top{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 50px 0px;
    background-color: #ffe1f5;
    transition: background-color 350ms ease-out 0s;
}
.topmenu{
    width: 1200px;
    padding: 0 16px;
    margin: 0 auto;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 1fr 1fr;
}
.topmenu_1{
    grid-gap: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 54px;
}
.topmenu_h1{
    margin: 0;
    color: #555969;
    font-size: 32px;
    font-weight: 500;
    white-space: pre-wrap;
    line-height: normal;
}
.topmenu_form{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}
.topmenu_div_1{
    border-radius: 4px;
    border: 2px solid #555969;
    background-color: transparent;
    width: 500px;
    height: 60px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}
.topmenu_div_2{
    color: #555969;
    opacity: 0.8;
    font-size: 20px;
    height: 60px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 12px;
    cursor: text;
}
.text{
    position: relative;
    color: #555969;
    font-size: 20px;
}
.text:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #ffe1f5;
    border-left: 2px solid white;
    animation: animate 2s steps(6) infinite, blink .5s infinite;
}
@keyframes animate{
    40%, 60%{
        left: calc(100% + 4px);
    }
    100%{
        left: 0%;
    }
}
@keyframes blink{
    50%{
        border-color: transparent;
    }
}

.hashtag{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 8px;
}
.hashtag_1{
    padding: 4px 8px;
    font-size: 13px;
    border-radius: 16px;
    background: #f2f3f7;
    color: #555969;
    display: flex;
    line-height: normal;
    cursor: default;
    background-color: rgba(255,255,255,0.1);
}
.hashtag_2{
    color: #555969;
    text-decoration: none;
    font-size: 14px;
    line-height: normal;
}
.rsection{
    width: 540px;
    position: relative;
}
.rsection_div1{
    width: 540px;
    height: 380px;
    border-radius: 4px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
}
.images{
    position: relative;
    display: flex;
    width: 540;
    height: 380;

    transition: transform 0.5s;
}
/*button{*/
/*    cursor: pointer;*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    padding: 0;*/
/*    border: 0;*/
/*    outline: none;*/
/*    width: 32px;*/
/*    height: 32px;*/
/*    color: #303441;*/
/*    transition: color 0.3s,background-color 0.3s,opacity 0.3s,transform 0.3s;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    border-radius: 50%;*/
/*    box-shadow: 0px 0px 0px 1px transparent, 0px 0px 0px 4px transparent, 0px 2px 4px rgb(0 0 0 / 18%);*/
/*    z-index: 1;*/
/*    opacity: 1;*/
/*    background-color: rgba(255,255,255,0.76);*/
/*    appearance: button;*/
/*}*/
.prevOn{
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 0;
    border: 0;
    outline: none;
    width: 32px;
    height: 32px;
    color: #303441;
    transition: color 0.3s,background-color 0.3s,opacity 0.3s,transform 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 1px transparent, 0px 0px 0px 4px transparent, 0px 2px 4px rgb(0 0 0 / 18%);
    z-index: 1;
    opacity: 1;
    background-color: rgba(255,255,255,0.76);
    appearance: button;
    left: -16px;
}
.nextOn{
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 0;
    border: 0;
    outline: none;
    width: 32px;
    height: 32px;
    color: #303441;
    transition: color 0.3s,background-color 0.3s,opacity 0.3s,transform 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 1px transparent, 0px 0px 0px 4px transparent, 0px 2px 4px rgb(0 0 0 / 18%);
    z-index: 1;
    opacity: 1;
    background-color: rgba(255,255,255,0.76);
    appearance: button;
    right: -16px;
}
.categori{
    width: 1200px;
    padding: 0px 16px;
    margin: -24px auto 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* background-color: aqua; */
}
.service{
    display: block;
    margin: 0px;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    color: rgb(48, 52, 65);
}
.categori_b{
    display: flex;
    padding: 20px 24px;
    background-color: rgb(250, 250, 245);
    border-radius: 16px;
    flex-direction: column;
    flex-basis: fit-content;
}
.business{
    font-size: 17px;
    color: rgb(33, 34, 36);
    font-weight: bold;
}
.icons{
    display: flex;
    gap: 20px;
    margin: 8px 0px 0px;
    padding: 0px;
}
.icon_sel{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
}
.under_icon{
    margin-top: 8px;
    font-size: 16px;
    color: rgb(48, 52, 65);
    white-space: nowrap;
    font-weight: bold;
}
.categori_2{
    width: 1200px;
    padding: 0px 16px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
}
.populer_img{
    margin-top: 24px;
    display: flex;
    gap: 20px;
}
.populer{
    position: relative;
    width: 217px;
    height: 300px;
}
.populer_img_sel{
    position: absolute;
    width: 100%;
    height: 100%;
}
.populer_1{
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    width: 217px;
    height: 300px;
    background: none;
    opacity: 1;
    border: 0px;
    margin: 0px;
    padding: 0px;
    position: relative;
}
.populer_2{
    position: absolute;
    inset: 0px;
    box-sizing: border-box;
    padding: 0px;
    border: none;
    margin: auto;
    display: block;
    width: 0px;
    height: 0px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}
.section_1{
    display: flex;
    flex-direction: column;
    background-color: rgb(242, 243, 247);
    width: 100%;
    padding: 80px 0px;
}
.section_1_div1{
    width: 1200px;
    padding: 0px 16px;
    margin: 0px auto;
    display: grid;
    gap: 40px;
}
.section_1_div2{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.section_1_div3{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
}
.section_1_h1{
    margin: 0px;
    color: rgb(33, 34, 36);
    font-size: 32px;
    font-weight: bold;
    line-height: normal;
}
.section_1_br{
    color: rgb(33, 34, 36);
    font-size: 32px;
    font-weight: bold;
    line-height: normal;
}
.section_1_h2{
    margin: 0px;
    font-size: 16px;
    font-weight: 400;
    color: rgb(33, 34, 36);
    line-height: normal;
}
.section_1_div4{
    border-radius: 8px;
    overflow: hidden;
    height: 390px;
    cursor: pointer;
}
.section_1_div5{
    pointer-events: none;
    transition: opacity 1000ms ease 100ms;
    opacity: 1;
}
.section_1_div6{
    display: flex;
    gap: 20px;
}
.section_1_article1{
    position: relative;
    flex: 1 1 0%;
    padding: 32px 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: rgb(48 52 65 / 5%) 0px 0px 20px 5px;
    display: grid;
    gap: 12px;
}
.section_1_h3{
    margin: 0px;
    font-weight: bold;
    font-size: 18px;
    color: rgb(48, 52, 65);
}
.section_1_h4{
    margin: 0px;
    line-height: normal;
    font-size: 16px;
    font-weight: 400;
    color: rgb(48, 52, 65);
    white-space: pre-wrap;
}
.section_1_div7{
    display: flex;
    position: absolute;
    top: 20px;
    right: 32px;
}
.section_1_span{
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    width: 28px;
    height: 28px;
    background: none;
    opacity: 1;
    border: 0px;
    margin: 0px;
    padding: 0px;
    position: relative;
}
.section_1_img{
    position: absolute;
    inset: 0px;
    box-sizing: border-box;
    padding: 0px;
    border: none;
    margin: auto;
    display: block;
    width: 0px;
    height: 0px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}

.section_2{
    background-color: rgb(33, 34, 36);
    margin: -80px 0px;
    height: 160px;
}
.section_2_div1{
    background-color: #ffe1f5;
    margin: -80px 0px;
    height: 160px;
}
.section_2_span1{
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    width: initial;
    height: initial;
    background: none;
    opacity: 1;
    border: 0px;
    margin: 0px;
    padding: 0px;
    position: relative;
    max-width: 100%;
}
.section_2_img{
    position: absolute;
    inset: 0px;
    box-sizing: border-box;
    padding: 0px;
    border: none;
    margin: auto;
    display: block;
    width: 0px;
    height: 0px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}
.section_2_span2{
    box-sizing: border-box;
    display: block;
    width: initial;
    height: initial;
    background: none;
    opacity: 1;
    border: 0px;
    margin: 0px;
    padding: 0px;
    max-width: 100%;
}
.section_2_a{
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.section_3{
    display: flex;
    flex-direction: column;
    background-color: #ffe1f5;
    width: 100%;
    padding: 80px 0px;
}
.section_3_div1{
    width: 1200px;
    padding: 0px 16px;
    margin: 0px auto;
    display: grid;
    text-align: center;
}
.section_3_h1{
    margin: 0px;
    font-size: 32px;
    color: rgb(33, 34, 36);
    font-weight: bold;
    line-height: normal;
}
.section_3_h2{
    margin: 8px 0px 0px;
    font-size: 16px;
    color: rgb(85, 89, 105);
    font-weight: 400;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    text-align: center;
}
.section_4{
    text-align: center;
    display: flex;
    gap: 20px;
    margin-top: 40px;
}
.section_4_article1{
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
}
.section_4_div1{
    border-radius: 8px;
    overflow: hidden;
    height: 210px;
    cursor: pointer;
}
.section_4_div2{
    pointer-events: none;
    transition: opacity 1000ms ease 100ms;
    opacity: 1;
}
.section_4_iframe{
    pointer-events: none;
    cursor: pointer;
    text-align: center;
}
.section_4_div3{
    margin-top: 16px;
    display: flex;
}
.section_4_div4{
    margin-right: 4px;
    font-size: 15px;
    color: rgb(33, 34, 36);
    font-weight: bold;
}
.section_4_div5{
    margin-left: 8px;
    font-size: 15px;
    color: rgb(85, 89, 105);
}