.css-1rr4qq7 {
    flex: 1 1 0%;
}
.css-ir5tdx {
    margin-left: 24px;
}
.css-pr9ehp {
    font-size: 18px;
    color: rgb(48, 52, 65);
    font-weight: bold;
    margin: 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 8px;
}
.css-1jdke3e {
    margin-top: 20px;
    padding: 40px;
    border: 1px solid rgb(228, 229, 237);
    display: flex;
    flex-direction: column;
}
* {
    font-family: 'Metro Sans',sans-serif;
    box-sizing: border-box;
}
.css-1b9tugt {
    color: rgb(48, 52, 65);
}
.css-1b5t924 {
    display: flex;
    flex-direction: column;
    padding: 8px;
    margin: 4px 0px;
}
.css-1916dlq {
    margin: 4px 0px;
}
.css-kljj1b {
    font-size: 14px;
    color: rgb(48, 52, 65);
    cursor: pointer;
}
.css-1qtribh {
    white-space: nowrap;
    outline: none;
    display: inline-flex;
    position: relative;
    line-height: 1;
    vertical-align: middle;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.css-l775cp {
    position: absolute;
    inset: 0px;
    z-index: 19;
    opacity: 0;
    cursor: inherit;
}
.css-16d8u49 {
    position: relative;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid rgb(200, 202, 210);
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    transition: border-color 0.36s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
}
.css-2k2mpm {
    margin: 0px 8px;
}
.css-1916dlq {
    margin: 4px 0px;
}
.css-kljj1b {
    font-size: 14px;
    color: rgb(48, 52, 65);
    cursor: pointer;
}
li {
    list-style: none;
}
.css-h5fkc8 {
    margin-top: 32px;
}
.css-1b9tugt {
    color: rgb(48, 52, 65);
}
.css-fu65wa {
    width: 100%;
    border: 1px solid rgb(228, 229, 237);
    border-radius: 4px;
    transition: background-color 0.2s ease 0s, border-color 0.2s ease 0s;
    display: inline-flex;
    flex-direction: row;
    overflow: hidden;
    cursor: text;
    background-color: rgb(255, 255, 255);
    color: rgb(48, 52, 65);
    height: 36px;
    font-size: 14px;
    padding: 0px 12px;
    min-width: 64px;
    margin-top: 12px;
}
.css-dka9py {
    outline: none;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
    background-image: none;
    box-sizing: border-box;
    font-size: inherit;
    border: none;
    font-weight: inherit;
    background-color: transparent;
    text-align: left;
    color: inherit;
}
.css-1kof67x {
    margin-top: 20px;
    padding: 24px 40px 24px 47px;
    background-color: rgb(242, 243, 247);
    font-size: 14px;
    color: rgb(114, 117, 133);
    line-height: normal;
}
.css-15u26v2 {
    text-indent: -15px;
    word-break: keep-all;
}
.css-k008qs {
    display: flex;
}
.css-12fs25a {
    margin-top: 8px;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
}
.css-1qg5xs8 {
    font-size: 16px;
    color: rgb(48, 52, 65);
    cursor: pointer;
}
.css-9ffs86 {
    outline: none;
    display: inline-flex;
    position: relative;
    line-height: 1;
    vertical-align: middle;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.css-l775cp {
    position: absolute;
    inset: 0px;
    z-index: 19;
    opacity: 0;
    cursor: inherit;
}
.css-14dw7k7 {
    position: relative;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    border-color: rgb(200, 202, 210);
    background-color: rgb(255, 255, 255);
    transition: border-color 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s, background-color 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
}
.css-1m5u6ms {
    margin-left: 8px;
    color: rgb(48, 52, 65);
}
.css-10z81ll:disabled {
    cursor: not-allowed;
    background-color: rgb(228, 229, 237);
    border-color: rgb(228, 229, 237);
    color: rgb(154, 155, 167);
}
* {
    font-family: 'Metro Sans',sans-serif;
    box-sizing: border-box;
}



















































































































































































































