@charset "utf-8";
@font-face {
    font-family:'Metro Sans';
    font-style:normal;
    font-weight: 400;
    src:url("https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Regular.woff2");
}
*{
    font-family: 'Metro Sans';
}