<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>아이 돌봄 서비스 ~ 자주 묻는 질문</title>

    <!-- 스타일 시트-->
    <link rel="stylesheet" type="text/css" href="../static/css/innerstyle.css">

    <link rel="stylesheet" type="text/css" href="../static/css/html5_reset.min.css"><!--리셋(기본)_http://cssreset.com/ -> 2번 HTML5 Doctor CSS Reset-->
    <link rel="stylesheet" type="text/css" href="../static/css/component.css"><!--반복 사용되는것들-->

    <link rel="stylesheet" type="text/css" href="../static/css/layout.css"><!--전체 레이아웃-->
    <link rel="stylesheet" type="text/css" href="../static/css/main.css"><!--메인만-->
    <link rel="stylesheet" type="text/css" href="../static/css/content.css"><!--컨텐츠만-->
    <link rel="stylesheet" type="text/css" href="../static/css/header.css"><!--맨 위-->
    <link rel="stylesheet" type="text/css" href="../static/css/footer.css"><!--맨 밑-->

    <link rel="stylesheet" type="text/css" href="../static/css/article.css"><!-- 답변란 -->

    <link rel="stylesheet" type="text/css" href="../static/css/FAQ.css">   <!-- 직접 수정 및 추가하는 스타일 -->
    <link rel="stylesheet" type="text/css" href="../static/css/FAQ_view.css">   <!-- 직접 수정 및 추가하는 스타일 -->

    <!-- 추가 스크립트 -->
    <script src = "../static/js/includeHtml.js"></script>


</head>


<body>
    <div id="wrap">


        <!-- 헤더 부분-->
        <header>
            <div includeHtml="header.html"></div>
            <script>includeHTML()</script>

        </header>



        <div class="content">
            <!-- 주로 하는 질문 (선택됨) -->
            <!-- 제목과 등록일, 그리고 내용 -->
            <div class="con01">
                <div class="article-container" id="article-container">
                    <article class="article">
                        <header class="article-header"> <!-- 질문 제목 -->
                            <h1 title="질문1" class="article-title" id="article-title">질문의 제목</h1>
                        </header>
                        <section class="article-info" id="article-info">
                            <div class="article-date">
                                2022-12-12
                            </div>
                            <div class="article-content"> <!-- 질문 내용 -->
                                <div class="article-body" id="article-body">
                                    <p>여기는 질문의 답변을 적는 칸입니다.</p>
                                </div>
                                <div class="article-attachments">
                                    <ul class="attachments"></ul>
                                </div>
                            </div>
                        </section>
                    </article>

                </div>

            </div>

            <!-- 여기서부터 페이지 넘기는 기능 추가 -->
            <div class="paginate">
                <div class="paging">
                        <span class="page">
                            <a href="#" title="처음" class="off"><<</a>
                            <a href="#" title="이전" class="off"><</a>
                            <a href="#" title="1" class="on">1</a>
                            <a href="#" title="다음" class="off">></a>
                            <a href="#" title="끝" class="off">>></a>

                        </span>
                </div>
            </div>


        </div>

        <footer id="footer">
            <div includeHtml="footer.html"></div>
            <script>includeHTML()</script>

        </footer>


    </div>
    <!-- wrap end -->


</body>
</html>