<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>아이 돌봄 서비스 ~ 자주 묻는 질문</title>

    <!-- 스타일 시트-->
    <link rel="stylesheet" type="text/css" href="../static/css/header.css"><!--맨 위-->
    <link rel="stylesheet" type="text/css" href="../static/css/footer.css"><!--맨 밑-->

    <link rel="stylesheet" type="text/css" href="../static/css/FAQ.css">   <!-- 직접 수정 및 추가하는 스타일 -->
    <link rel="stylesheet" type="text/css" href="../static/css/FAQ_list.css">   <!-- 직접 수정 및 추가하는 스타일 -->

    <!-- 추가 스크립트 -->
    <script src = "../static/js/includeHtml.js"></script>

</head>


<body>
    <div id="wrap">


        <!-- 헤더 부분-->
        <header>

            <div includeHtml="header.html"></div>
            <script>includeHTML()</script>

        </header>



        <main role="main" id="main">
            <div class="container-divider"></div>
            <div class="container">
                <nav class="sub-nav">
                    <ol class="breadcrumbs">

                        <li title="FAQ">

                            FAQ

                        </li>

                    </ol>

                    <form role="search" class="search" data-search="" action="/hc/ko/search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓" autocomplete="off"><input type="search" name="query" id="query" placeholder="검색" aria-label="검색"></form>
                </nav>

                <div class="category-container">
                    <div class="category-content">
                        <header class="page-header">
                            <h1><div class="page-title">자주 묻는 질문</div></h1>

                        </header>

                        <div class="section-tree">

                            <section class="section">
                                <h3 class="section-tree-title">
                                    <a href="#">엔터프라이즈</a>
                                </h3>

                                <ul class="article-list">

                                    <li class="article-list-item">

                                        <a href="#" class="article-list-link">[엔터프라이즈] 서비스 이용 시 의뢰 내용은 보호되나요?</a>

                                    </li>

                                    <li class="article-list-item">

                                        <a href="#" class="article-list-link">[엔터프라이즈] 외주와 상주 프로젝트는 무엇이 다른가요?</a>

                                    </li>

                                    <li class="article-list-item">

                                        <a href="#" class="article-list-link">[엔터프라이즈] 프로젝트에 대한 세금계산서는 누가 발행하나요?</a>

                                    </li>

                                    <li class="article-list-item">

                                        <a href="#" class="article-list-link">[엔터프라이즈] 프로젝트 비용을 분할결제할 수 있나요?</a>

                                    </li>

                                    <li class="article-list-item">

                                        <a href="#" class="article-list-link">[엔터프라이즈] 프로젝트와 관련하여 전문가와 사전 미팅할 수 있나요?</a>

                                    </li>

                                    <li class="article-list-item">

                                        <a href="#" class="article-list-link">[엔터프라이즈] 정부지원사업 프로젝트도 이용할 수 있나요?</a>

                                    </li>

                                </ul>

                                <a href="#" class="see-all-articles">
                                    문서 9개 모두 보기
                                </a>



                            </section>


                            <section class="section">
                                <h3 class="section-tree-title">
                                    <a href="#">서비스 소개</a>
                                </h3>

                                <ul class="article-list">

                                    <li class="article-list-item">

                                        <a href="#" class="article-list-link">[서비스 소개] 아이 돌봄 서비스는 어떻게 이용하나요?</a>

                                    </li>

                                    <li class="article-list-item">

                                        <a href="#" class="article-list-link">[서비스 소개] 보듬미 이용가이드: 의뢰인 편</a>

                                    </li>

                                    <li class="article-list-item">

                                        <a href="#" class="article-list-link">[서비스 소개] 보듬미 이용가이드: 베이비시터 편</a>

                                    </li>

                                    <li class="article-list-item">

                                        <a href="#" class="article-list-link">[서비스 소개] 제휴 문의는 어떻게 접수하나요?</a>

                                    </li>


                                </ul>

                                <a href="#" class="see-all-articles">
                                    문서 7개 모두 보기
                                </a>



                            </section>


                            <section class="section">
                                <h3 class="section-tree-title">
                                    <a href="#">이용방법</a>
                                </h3>

                                <ul class="article-list">

                                    <li class="article-list-item">

                                        <a href="#" class="article-list-link">[이용방법] 어떤 결제 수단을 사용할 수 있나요?</a>

                                    </li>


                                    <li class="article-list-item">

                                        <a href="#" class="article-list-link">[이용방법] 서비스 알림은 무엇이며, 어떻게 설정하나요?</a>

                                    </li>

                                    <li class="article-list-item">

                                        <a href="#" class="article-list-link">[이용방법] 사용자 유형을 전환할 수 있나요?</a>

                                    </li>

                                </ul>

                                <a href="/hc/ko/sections/360004175972-%EC%9D%B4%EC%9A%A9%EB%B0%A9%EB%B2%95" class="see-all-articles">
                                    문서 7개 모두 보기
                                </a>


                            </section>


                            <a tabindex="0" class="see-all-sections-trigger" aria-hidden="true" id="see-all-sections-trigger" title="모든 섹션 보기…">모든 섹션 보기…	</a>

                        </div>
                    </div>
                </div>
            </div>
        </main>


        <footer id="footer">
            <div includeHtml="footer.html"></div>
            <script>includeHTML()</script>

        </footer>


    </div>
    <!-- wrap end -->


</body>
</html>