<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="../static/css/footer.css" rel="stylesheet">

</head>
<body>
    <div id="wrap">
        <footer id="footer">
            <!-- 연락처와 주소 -->
            <div class="footer">
                <div class="con01">
                    <div class="cs">
                        <span class="text01">Child Care Service</span>
                        <span class="text02">1644-9157</span>
                        <span class="text03">고객센터 상담시간</span>
                        <span class="text04">· 평일 : 오전 9시 ~ 18시<br>· 토요일(공휴일) : 오전 9시 ~ 13시<br>· 일요일 : 휴무(설,추석,크리스마스)</span>
                    </div>
                    <div class="address">
                        <span class="text01">차일드케어서비스 주식회사</span><span class="bar01"></span><span class="text01">대구시 달서구 월배로 71(진천동, 진천트윈팰리스2층 207-1호)</span><br>
                        <span class="text01">대표 김상환</span><span class="bar01"></span><span class="text01">사업자등록번호 409-88-00559</span><span class="bar01"></span><span class="text01">통신판매업 제2021-대구달서-12호</span><br>
                        <span class="text01">직업정보제공사업 J1400020200004</span><span class="bar01"></span><span class="text01">개인정보 관리책임자 최영일</span><br>
                        <span class="text01">대표전화 1644-9157, 팩스 02)6919-2485</span><span class="bar01"></span><span class="text01">admin@safety-sitter.com</span>
                    </div>
                    <div class="logo"><img src="../images/common/logo_footer.png"></div>
                    <div class="navigation">
                        <div class="menu">
                            <ul>
                                <li><a href="/">홈</a></li>
                                <li class="bar01">&nbsp;</li>
                                <li><a href="/cscenter/page0201.php">이용약관</a></li>
                                <li class="bar01">&nbsp;</li>
                                <li><a href="/cscenter/page0301.php">개인정보처리방침</a></li>
                                <li class="bar01">&nbsp;</li>
                                <li><a href="/">FAQ</a></li>
                                <li class="bar01">&nbsp;</li>
                                <li><a href="https://blog.naver.com/safesitter" target="_BLANK">블로그</a></li>
                                <li class="bar01">&nbsp;</li>
                                <!--체불사업주 명단조회-->

                                <a href="https://www.moel.go.kr/info/defaulter/defaulterList.do" rel="noopener noreferrer" target="_blank"><li>체불사업주 명단</li></a>
                            </ul>
                        </div>
                        <div class="copyright">Copyrightⓒ2020 safesitter. All rights reserved.</div>
                    </div>
                </div>
            </div>

        </footer>
    </div>
</body>
</html>