<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="../static/css/FAQ.css" rel="stylesheet">
    <link href="../static/css/footer.css" rel="stylesheet">

</head>
<body>
    <div id="wrap">
        <footer id="footer">
            <!-- 연락처와 주소 -->
            <footer class="footer">
                <div class="footer-inner">
                    <ol style="width:40%">
                        <b>(주)크몽</b> | 서울시 서초구 사임당로 157, 3층 | 대표 : 박현호<br>
                        개인정보보호책임 : 송준이 | 사업자등록번호 : 613-81-65278<br>
                        통신판매업신고 : 2018-서울서초-2134 | 1544-6254<br>
                        help@kmong.com | 호스팅 사업자: Amazon Web Service(AWS)</ol>
                    <ol><a href="https://support.kmong.com/hc/ko/categories/360001764912">공지사항</a></ol>
                    <ol><a href="https://support.kmong.com/hc/ko/categories/360001643071">FAQ</a></ol>
                    <ol><a href="https://support.kmong.com/hc/ko/articles/900005915466">이용약관</a></ol>
                    <ol><a href="https://support.kmong.com/hc/ko/articles/9619995282713"><b>개인정보처리방침</b></a></ol>
                </div>
                <div class="footer-mweb">
                    &nbsp;&nbsp; (주) 크몽 &nbsp;&nbsp;&nbsp;
                    <a href="https://support.kmong.com/hc/ko/categories/360001764912">공지사항</a>&nbsp;
                    <a href="https://support.kmong.com/hc/ko/categories/360001643071">FAQ</a>&nbsp;
                    <a href="https://support.kmong.com/hc/ko/articles/900005915466">이용약관</a>&nbsp;
                    <a href=""><b>개인정보처리방침</b></a>&nbsp;
                    <a href="https://support.kmong.com/hc/ko/requests/new">1:1 문의하기</a>&nbsp;&nbsp;
                </div>

            </footer>
        </footer>
    </div>
</body>
</html>