<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="../static/css/FAQ.css" rel="stylesheet">
    <link href="../static/css/footer.css" rel="stylesheet">

</head>
<body>
<!--footer 부분  -->
<footer>
    <div class="footer1">
        <div class="footer-left">
            <p class="f2">고객센터</p>
            <p class="f3">10:30~18:00 (점심시간 13:00 ~ 14:00)</p>
            <p class="f4">주말, 공휴일 휴무</p>
            <div class="footer-askButton">
                <a role="link" href="#" target="_blank"><p>1:1문의</p></a>
            </div>
        </div>

        <div class="footer-cell">
            <p class="footer-section">보듬미</p>
            <ul class="footer-links">
                <li>보듬미 메인</li>
                <li>부모 페이지</li>
                <li>베이비시터 페이지</li>
            </ul>
        </div>

        <div class="footer-cell">
            <p class="footer-section">보듬미 회원</p>
            <ul class="footer-links">
                <li>로그인</li>
                <li>회원가입</li>
                <li>마이페이지</li>
            </ul>
        </div>

        <div class="footer-cell">
            <p class="footer-section">지원</p>
            <ul class="footer-links">
                <li>커뮤니티</a></li>
                <li>FAQ</a></li>

            </ul>
        </div>

    </div>

    <hr class="hr">

    <div class="footer2">
        <div class="footer-address"> (주)보듬미 || 서울시 강남구 태헤란로00,13층 || 대표:보듬미 || 개인정보관리책임자: 홍길동 || 사업자등록번호:123-45-67898
            <br>
            통신판매업신고 : 2022-서울강남-2134 유료직업소개사업등록번호 : 제2022-123456-12-3-00012호 고객센터 : 5959-7979help@Bodeumme.com
        </div>
        <div class="footer-notice">
            <p>(주)보듬미는 의뢰인와 시터간의 계약에 관한 의무와 책임은 각각 개인에게 있습니다.</p>
        </div>
        <div class="footer-notice">
            <p>보듬미의 중계서비스/거래 정보, 콘텐츠,UI등에 대한 무단복제,전송,배포스크래핑 등의 행위는 저작권법, 콘텐츠산업진흥 등 관련법령에 의하여 엄격히 금지됩니다.</p>
        </div>
        <div class="footer-copyright">
            <p>Copyright&copy2022 BodeumMe Inc. Allrights reserved</p>
        </div>
    </div>
</footer>

</body>
</html>