<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="../static/css/header.css" rel="stylesheet">

</head>
<body>
<!-- 헤더 부분-->
<header>
    <div class="header1">
        <div class="header1-1">
            <div class="header1-2">
                <a href="#"><img src="../images/parentsitter/header.png" width="200px" height="40px"></a>
            </div>
            <div class="header1-3">
                <a href="#" >보듬미</a>
            </div>
            <div class="header1-4">
                <button role="button" color="black" class="header1-5">
                    <p>베이비시터 등록</p>
                </button>
                <button role="button" color="black" class="header1-6">
                    <p>로그인</p>
                </button>
                <a href="#" class="header1-7">무료 회원가입</a>

            </div>
        </div>
    </div>

    <div class="header2">
        <div class="header2-1">
            <a href="#" class="header2-2">홈</a>
        </div>
        <div class="header2-1">
            <a href="#" class="header2-2">부모 페이지</a>
        </div>
        <div class="header2-1">
            <a href="#" class="header2-2">베이비시터 페이지</a>
        </div>
        <div class="header2-1">
            <a href="#" class="header2-2">마이 페이지</a>
        </div>
        <div class="header2-1">
            <a href="#" class="header2-2">커뮤니티</a>
        </div>
        <div class="header2-1">
            <a href="#" class="header2-2">FAQ</a>
        </div>
    </div>
</header>

</body>
</html>