<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="../static/css/header.css" rel="stylesheet">

</head>
<body>
    <div id="wrap">
        <header id="header">
            <!-- 윗부분 메인 메뉴 및 로그인 -->
            <div class="header slide">
                <div class="top">
                    <div class="top_logo">
<!--                        <a href="javascript:menu_slide();"><img src="../images/common/icon_menu.png" class="menu"></a>-->
                        <a href="/"><img src="../images/common/iconlogo.png" class="logo"></a>
                    </div>

                    <div class="top_navigation">
                        <ul class="menu01">
                            <!-- 페이지 윗줄에 뜨는 일자형 메인메뉴 -->
                            <li><a href="/recruit/" class="header_menu"><span class="btn01">일자리찾기</span></a></li>
                            <li><a href="/resume/" class="header_menu"><span class="btn01">시터찾기</span></a></li>
                            <li><a href="/payment/" class="header_menu"><span class="btn01">이용권/보험</span></a></li>
                            <li><a href="/cscenter/" class="header_menu"><span class="btn01">고객센터</span></a></li>
                        </ul>
                        <ul class="menu02">
                            <!-- 우측 상단의 로그인 및 회원가입 -->
                            <a href="/member/login.php?url_encode=%2Fcscenter%2F"><span class="btn01">로그인</span></a>
                            <a href="/member/join.php"><span class="btn02">가입하기</span></a>


                        </ul>
                    </div>
                </div>
            </div>
        </header>
    </div>

</body>
</html>