<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/index.css" rel="stylesheet"/>
    <title>BodeumMe</title>
    <script src="/jquery/jquery-3.6.1.min.js"></script>

    <!-- 스타일 시트-->
    <link rel="stylesheet" type="text/css" href="/css/header.css"><!--맨 위-->
    <link rel="stylesheet" type="text/css" href="/css/footer.css"><!--맨 밑-->

</head>
<body>
<header>
    <div class="header1">
        <div class="header1-1">
            <div class="header1-2">
                <a href="#"><img src="../static/images/parentsitter/header.png" width="100px" height="40px"></a>
            </div>
            <div class="header1-3">
                <a href="#" >보듬미</a>
            </div>
            <div class="header1-4">
                <button role="button" color="black" class="header1-5">
                    <p>베이비시터 등록</p>
                </button>
                <button role="button" color="black" class="header1-6">
                    <p>로그인</p>
                </button>
                <a href="#" class="header1-7">무료 회원가입</a>

            </div>
        </div>
    </div>

    <div class="header2">
        <div class="header2-1">
            <a href="#" class="header2-2">홈</a>
        </div>
        <div class="header2-1">
            <a href="#" class="header2-2">부모 페이지</a>
        </div>
        <div class="header2-1">
            <a href="#" class="header2-2">베이비시터 페이지</a>
        </div>
        <div class="header2-1">
            <a href="#" class="header2-2">마이 페이지</a>
        </div>
        <div class="header2-1">
            <a href="board/list" class="header2-2">커뮤니티</a>
        </div>
        <div class="header2-1">
            <a href="#" class="header2-2">FAQ</a>
        </div>
    </div>
</header>
<div class="main">
    <section class="top">
        <div class="topmenu">
            <section class="topmenu_1">
                <h1 class="topmenu_h1">아이돌봄 서비스 NO.1<br>BodeumMe 입니다!</h1>
                <form class="topmenu_form">
                    <div class="topmenu_div_1">
                        <div class="topmenu_div_2">
                            <span class="text">전자책</span>
                            <span></span>
                        </div>

                    </div>
                </form>
                <div class="hashtag">
                    <div class="hashtag_1">
                        <a class="hashtag_2">#베이비시터</a>
                    </div>
                    <div class="hashtag_1">
                        <a class="hashtag_2">#학습시터</a>
                    </div>
                    <div class="hashtag_1">
                        <a class="hashtag_2">#놀이시터</a>
                    </div>
                    <div class="hashtag_1">
                        <a class="hashtag_2">#등하원도우미</a>
                    </div>
                    <div class="hashtag_1">
                        <a class="hashtag_2">#가사도우미</a>
                    </div>
                </div>
            </section>
            <section class="rsection">
                <div>
                    <div class="rsection_div">
                        <div class="rsection_div1">
                            <div class="images">
                                <img src="../static/images/index/img_top_9.png"/>
                                <img src="../static/images/index/img_top_8.png"/>
                                <img src="../static/images/index/img_top_10.png"/>
                                <img src="../static/images/index/img_top_11.png"/>
                                <img src="../static/images/index/img_top_5.png"/>
                                <img src="../static/images/index/img_top_6.png"/>
                                <img src="../static/images/index/img_top_7.png"/>
                            </div>
                        </div>
                    </div>
                    <button class="prevOn" type="button">&lt;</button>
                    <button class="nextOn" type="button">&gt;</button>
                </div>
            </section>
        </div>
    </section>
    <section class="categori">
        <h1 class="service">700여 개 카테고리에서 필요한 서비스를 찾아보세요!</h1>
        <div class="categori_b">
            <div class="business">비즈니스</div>
            <div>
                <ul class="icons">
                    <li class="lcon_1">
                        <a class="icon_sel">
                            <img src=../static/images/index/ic_categori_17.png>
                            <span class="under_icon">베이비시터</span>
                        </a>
                    </li>
                    <li class="lcon_1">
                        <a class="icon_sel">
                            <img src=../static/images/index/ic_categori_19.png>
                            <span class="under_icon">스터디시터</span>
                        </a>
                    </li>
                    <li class="lcon_1">
                        <a class="icon_sel">
                            <img src=../static/images/index/ic_categori_20.png>
                            <span class="under_icon">놀이시터</span>
                        </a>
                    </li>
                    <li class="lcon_1">
                        <a class="icon_sel">
                            <img src=../static/images/index/ic_categori_18.png>
                            <span class="under_icon">등하원도우미</span>
                        </a>
                    </li>
                    <li class="lcon_1">
                        <a class="icon_sel">
                            <img src=../static/images/index/ic_caregori_21.png>
                            <span class="under_icon">가사도우미</span>
                        </a>
                    </li>
                    <li class="lcon_1">
                        <a class="icon_sel">
                            <img src=../static/images/index/ic_categori_25.png>
                            <span class="under_icon">자격요건</span>
                        </a>
                    </li>
                    <li class="lcon_1">
                        <a class="icon_sel">
                            <img src=../static/images/index/ic_categori_24.png>
                            <span class="under_icon">급여관련</span>
                        </a>
                    </li>
                    <li class="lcon_1">
                        <a class="icon_sel">
                            <img src=../static/images/index/ic_categori_23.png>
                            <span class="under_icon">찾아오는길</span>
                        </a>
                    </li>
                    <li class="lcon_1">
                        <a class="icon_sel">
                            <img src=../static/images/index/ic_categori_22.png>
                            <span class="under_icon">주의사항</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--        <div class="categori_b">-->
        <!--            <div class="business">N잡·커리어</div>-->
        <!--            <div>-->
        <!--                <ul class="icons">-->
        <!--                    <li class="lcon_1">-->
        <!--                        <a class="icon_sel">-->
        <!--                            <img src=../images/index/ic_category_10.png>-->
        <!--                            <span class="under_icon">취업·입시</span>-->
        <!--                        </a>-->
        <!--                    </li>-->
        <!--                    <li class="lcon_1">-->
        <!--                        <a class="icon_sel">-->
        <!--                            <img src=../images/index/ic_category_11.png>-->
        <!--                            <span class="under_icon">투잡·노하우</span>-->
        <!--                        </a>-->
        <!--                    </li>-->
        <!--                    <li class="lcon_1">-->
        <!--                        <a class="icon_sel">-->
        <!--                            <img src=../images/index/ic_category_12.png>-->
        <!--                            <span class="under_icon">직무역량</span>-->
        <!--                        </a>-->
        <!--                    </li>-->
        <!--                </ul>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--        <div class="categori_b">-->
        <!--            <div class="business">취미·생활</div>-->
        <!--            <div>-->
        <!--                <ul class="icons">-->
        <!--                    <li class="lcon_1">-->
        <!--                        <a class="icon_sel">-->
        <!--                            <img src=../images/index/ic_category_13.png>-->
        <!--                            <span class="under_icon">운세</span>-->
        <!--                        </a>-->
        <!--                    </li>-->
        <!--                    <li class="lcon_1">-->
        <!--                        <a class="icon_sel">-->
        <!--                            <img src=../images/index/ic_category_14.png>-->
        <!--                            <span class="under_icon">심리상담</span>-->
        <!--                        </a>-->
        <!--                    </li>-->
        <!--                    <li class="lcon_1">-->
        <!--                        <a class="icon_sel">-->
        <!--                            <img src=../images/index/ic_category_15.png>-->
        <!--                            <span class="under_icon">취미</span>-->
        <!--                        </a>-->
        <!--                    </li>-->
        <!--                    <li class="lcon_1">-->
        <!--                        <a class="icon_sel">-->
        <!--                            <img src=../images/index/ic_category_16.png>-->
        <!--                            <span class="under_icon">생활서비스</span>-->
        <!--                        </a>-->
        <!--                    </li>-->
        <!--                </ul>-->
        <!--            </div>-->
        <!--        </div>-->
        <section class="categori_2">
            <h2 class="service">크몽에서 가장 인기있어요!</h2>
            <div class="populer_img">
                <article class="populer">
                    <a>
                        <div class="populer_img_sel">
                                    <span class="populer_1">
                                        <img src="../static/images/index/ic_populer_1.png" class="populer_2">
                                    </span>
                        </div>
                    </a>
                </article>
                <article class="populer">
                    <a>
                        <div class="populer_img_sel">
                                    <span class="populer_1">
                                        <img src="../static/images/index/ic_populer_2.png" class="populer_2">
                                    </span>
                        </div>
                    </a>
                </article>
                <article class="populer">
                    <a>
                        <div class="populer_img_sel">
                                    <span class="populer_1">
                                        <img src="../static/images/index/ic_populer_3.png" class="populer_2">
                                    </span>
                        </div>
                    </a>
                </article>
                <article class="populer">
                    <a>
                        <div class="populer_img_sel">
                                    <span class="populer_1">
                                        <img src="../static/images/index/ic_populer_4.png" class="populer_2">
                                    </span>
                        </div>
                    </a>
                </article>
                <article class="populer">
                    <a>
                        <div class="populer_img_sel">
                                    <span class="populer_1">
                                        <img src="../static/images/index/ic_populer_5.png" class="populer_2">
                                    </span>
                        </div>
                    </a>
                </article>
            </div>
</div>
</section>
</section>
<section class="section_1">
    <div class="section_1_div1">
        <div class="section_1_div2">
            <div class="section_1_div3">
                <h1 class="section_1_h1">내게 필요한 모든 서비스를<br class="section_1_br"> 만날 수 있는 BodeumMe!</h1>
                <h2 class="section_1_h2">누적 매칭수 343만 건!<br>다양한 카테고리, 다양한 서비스에서<br>여러분에게 필요한 모든 돌보미를 만나보세요</h2>
            </div>
            <div class="section_1_div4">
                <div class="section_1_div5">
                    <iframe width="692" height="390" src="https://www.youtube.com/embed/Uo1-ZvsABlc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="section_1_div6">
            <article class="section_1_article1">
                <h3 class="section_1_h3">빠른 커뮤니케이션</h3>
                <h4 class="section_1_h4">실시간 채팅으로 빠르게 문의하고 거래해보세요!</h4>
                <div class="section_1_div7">
                            <span class="section_1_span">
                                <img src="./img/01.png" class="section_1_img">
                            </span>
                </div>
            </article>
            <article class="section_1_article1">
                <h3 class="section_1_h3">안전한 BodeumMe</h3>
                <h4 class="section_1_h4">소중한 내 아이, 걱정되지 않나요?<br>홈캠 설치 서비스로<br>안전하게 보호해드려요!</h4>
                <div class="section_1_div7">
                            <span class="section_1_span">
                                <img src="./img/02.png" class="section_1_img">
                            </span>
                </div>
            </article>
            <article class="section_1_article1">
                <h3 class="section_1_h3">만족스러운 결과물</h3>
                <h4 class="section_1_h4">평균 매칭률 90%이상!<br>분야별 전문가가<br>만족스러운 결과물을 제공합니다.</h4>
                <div class="section_1_div7">
                            <span class="section_1_span">
                                <img src="./img/03.png" class="section_1_img">
                            </span>
                </div>
            </article>
        </div>
    </div>
</section>
<section class="section_2">
    <a class="section_2_a">
        <div class="section_2_div1">
                    <span class="section_2_span1">
                        <span class="section_2_span2">
                            <img src="./img/banner_1.png" class="section_2_img">
                        </span>
                    </span>
        </div>
    </a>
</section>
<section class="section_3">
    <div class="section_3_div1">
        <h1 class="section_3_h1">BodeumMe을 이용한 고객들의 생생 후기!</h1>
        <h2 class="section_3_h2">202만명의 의뢰인이 98.6% 만족했습니다.</h2>
        <section class="section_4">
            <article class="section_4_article1">
                <div class="section_4_div1">
                    <div class="section_4_div2">
                        <iframe width="375" height="210" src="https://www.youtube.com/embed/q5VMe-Ks0cY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="section_4_div3">
                    <div class="section_4_div4">여성가족부</div>
                    |
                    <div class="section_4_div5">아이돌봄</div>
                </div>
            </article>
            <article class="section_4_article1">
                <div class="section_4_div1">
                    <div class="section_4_div2">
                        <iframe width="375" height="210" src="https://www.youtube.com/embed/PG2gfs19OUY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="section_4_div3">
                    <div class="section_4_div4">지수리</div>
                    |
                    <div class="section_4_div5">베이비시터</div>
                </div>
            </article>
            <article class="section_4_article1">
                <div class="section_4_div1">
                    <div class="section_4_div2">
                        <iframe width="375" height="210" src="https://www.youtube.com/embed/F6GoP9HE7Bc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="section_4_div3">
                    <div class="section_4_div4">여성가족부</div>
                    |
                    <div class="section_4_div5">육아퇴근</div>
                </div>
            </article>
        </section>
    </div>
</section>
</div>
</section>
<div></div>
<div></div>
<div></div>
</div>
<script>
    const text = document.querySelector(".text");

    const textLoad = () => {
        setTimeout(()=>{
            text.textContent ="아이돌봄";
        }, 0);
        setTimeout(()=>{
            text.textContent ="베이비시터";
        }, 3000);
        setTimeout(()=>{
            text.textContent ="가사도우미";
        }, 6000);
    };
    textLoad();
    setInterval(textLoad, 6000);

    let curPos = 0; //현재 보여지는 이미지의 인덱스 번호
    let positionValue = 0;// 이미지 태그의 위치 값 지정할 변수
    const IMAGE_WIDTH = 540;

    const prevBtn = document.querySelector(".prevOn");
    const nextBtn = document.querySelector(".nextOn");
    const images = document.querySelector(".images");

    function next(){
        if(curPos < 6){
            positionValue -= IMAGE_WIDTH;
            images.style.transform = `translateX(${positionValue}px)`;
            curPos += 1;
        }else if(curPos == 6){
            curPos = 0;
            positionValue = 0;
            images.style.transform = `translateX(${positionValue}px)`;
        };
    };
    function prev(){
        if(curPos > 0){
            positionValue += IMAGE_WIDTH;
            images.style.transform = `translateX(${positionValue}px)`;
            curPos -= 1;
        }else if(curPos == 0){
            curPos = 6;
            positionValue -= (IMAGE_WIDTH * 6);
            images.style.transform = `translateX(${positionValue}px)`;
        };
    };


    function init(){
        prevBtn.addEventListener("click", prev);
        nextBtn.addEventListener("click", next);
    };
    init();
</script>



<!--footer 부분  -->
<footer>
    <div class="footer1">
        <div class="footer-left">
            <p class="f2">고객센터</p>
            <p class="f3">10:30~18:00 (점심시간 13:00 ~ 14:00)</p>
            <p class="f4">주말, 공휴일 휴무</p>
            <div class="footer-askButton">
                <a role="link" href="#" target="_blank"><p>1:1문의</p></a>
            </div>
        </div>

        <div class="footer-cell">
            <p class="footer-section">보듬미</p>
            <ul class="footer-links">
                <li>보듬미 메인</li>
                <li>부모 페이지</li>
                <li>베이비시터 페이지</li>
            </ul>
        </div>

        <div class="footer-cell">
            <p class="footer-section">보듬미 회원</p>
            <ul class="footer-links">
                <li>로그인</li>
                <li>회원가입</li>
                <li>마이페이지</li>
            </ul>
        </div>

        <div class="footer-cell">
            <p class="footer-section">지원</p>
            <ul class="footer-links">
                <li>커뮤니티</a></li>
                <li>FAQ</a></li>

            </ul>
        </div>

    </div>

    <hr class="hr">

    <div class="footer2">
        <div class="footer-address"> (주)보듬미 || 서울시 강남구 태헤란로00,13층 || 대표:보듬미 || 개인정보관리책임자: 홍길동 || 사업자등록번호:123-45-67898
            <br>
            통신판매업신고 : 2022-서울강남-2134 유료직업소개사업등록번호 : 제2022-123456-12-3-00012호 고객센터 : 5959-7979help@Bodeumme.com
        </div>
        <div class="footer-notice">
            <p>(주)보듬미는 의뢰인와 시터간의 계약에 관한 의무와 책임은 각각 개인에게 있습니다.</p>
        </div>
        <div class="footer-notice">
            <p>보듬미의 중계서비스/거래 정보, 콘텐츠,UI등에 대한 무단복제,전송,배포스크래핑 등의 행위는 저작권법, 콘텐츠산업진흥 등 관련법령에 의하여 엄격히 금지됩니다.</p>
        </div>
        <div class="footer-copyright">
            <p>Copyright&copy2022 BodeumMe Inc. Allrights reserved</p>
        </div>
    </div>
</footer>


</body>
</html>