<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원정보 상세페이지</title>
    <link href="../static/css/mypage_1.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../resources/static/css/header.css"><!--맨 위-->

</head>
<body>
    <main class="css-1rr4qq7 emksb11">
        <div class="css-ir5tdx e1xizst30">
            <h1 class="css-pr9ehp eab1p4t0">나의 정보</h1>
            <section class="css-1r2qfs1 e1xizst31">
                <section class="css-dvxtzn egv5jtf0">
                    <div size="120" shape="0" role="article" class="css-1bwub8t e1cdqjir2">
                        <img src="https://kmong.com/img/tools/main_user_gray.png" alt="프로필 사진" shape="0" loading="lazy" class="css-on9gcz e1cdqjir1">
                    </div>
                    <div class="css-164r41r egv5jtf1">
                        <div class="dzu-dropzone" style="border:none;overflow:auto;padding:4px">
                            <button role="button" color="default" class="css-433391 eklkj752">
                                <span class="css-1oteowz eklkj751">
                                    <label for="file-input" class="css-4g6ai3 egv5jtf2">
                                        프로필 변경
                                        <input id="file-input" style="display:none" type="file" accept="image/gif, image/jpeg, image/jpg, image/png">
                                    </label>
                                </span>
                            </button>
                        </div>
                    </div>
                </section>
                <section class="css-erz11g eutwarw0">
                    <div class="css-uewl2b eab1p4t1">
                        <label for="username" class="css-9lls5z el42wpa0">
                            <span class="css-1nv8ao4 eab1p4t2">닉네임</span>
                            <div class="css-1g4x5kn el42wpa1">
                                <span class="css-190blbl el42wpa2">수정</span>
                            </div>
                        </label>
                        <div class="css-8621kk e1fnk6ig0">
                            <input type="text" disabled="" maxlength="17" class="css-dka9py e1fnk6ig1" value="매콤달콤한오아시스5594">
                        </div>
                        <ul class="css-e2vm5d e1ncnbw30">
                            <li class="css-0 e1ncnbw31">*<!-- --> <!-- -->닉네임 변경은 가입 후 1회만 가능합니다.</li>
                            <li class="css-0 e1ncnbw31">*<!-- --> <!-- -->닉네임 변경 이력이 있다면 수정 기능이 비활성화되며, 추가 변경은 불가합니다.</li>
                            <li class="css-0 e1ncnbw31">*<!-- --> <!-- -->한글/영문/숫자만 사용할 수 있으며, 이메일 아이디와 동일한 문자열은 사용이 불가합니다.</li>
                        </ul>
                    </div>
                    <div class="css-uewl2b eab1p4t1">
                        <label for="username" class="css-9lls5z el42wpa0">
                            <span class="css-1nv8ao4 eab1p4t2">이메일</span>
                        </label>
                        <div class="css-xiz8wo evu4jyg0">
                            <div class="css-8621kk e1fnk6ig0" disabled>
                                <input type="text" disabled="" class="css-dka9py e1fnk6ig1" value="baesang12@naver.com">
                                <div class="suffix-wrapper css-kknodv">
                                    <span role="img" color="#303441" rotate="0" class="css-5flix e181xm9y1">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" focusable="false" preserveAspectRatio="xMidYMid meet" class="css-7kp13n e181xm9y0">
                                            <path d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M12,2 C17.5228475,2 22,6.4771525 22,12 C22,17.5228475 17.5228475,22 12,22 C6.4771525,22 2,17.5228475 2,12 C2,6.4771525 6.4771525,2 12,2 Z M15.7997804,9.20767085 C15.53176,8.93186943 15.0959927,8.93062056 14.8264668,9.20488141 L14.8264668,9.20488141 L10.8145475,13.2862949 L9.18819848,11.528062 L9.11288323,11.4577095 C8.84909316,11.2455787 8.466272,11.2574579 8.21525483,11.5004627 C7.93913594,11.767768 7.92706048,12.2135121 8.18828353,12.49606 L8.18828353,12.49606 L10.2996011,14.7797344 L10.3762843,14.8511931 C10.6449585,15.0661724 11.0355012,15.0488498 11.2848524,14.7951181 L11.2848524,14.7951181 L15.7970545,10.2036467 L15.8639086,10.1248492 C16.0645771,9.84971652 16.0434353,9.4583994 15.7997804,9.20767085 Z"></path>
                                        </svg>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <ul class="css-e2vm5d e1ncnbw30">
                            <li class="css-0 e1ncnbw31">*<!-- --> <!-- -->이메일을 변경하시려면 고객센터로 문의해 주세요.</li>
                        </ul>
                    </div>
                    <div class="css-uewl2b eab1p4t1">
                        <label for="username" class="css-9lls5z el42wpa0">
                            <span class="css-1nv8ao4 eab1p4t2">휴대폰 본인인증</span>
                        </label>
                        <div class="css-1pgbaw2 eqwngaz0">
                            <div class="css-j1nq20 eqwngaz1">원활한 서비스 이용을 위하여 인증을 완료해 주세요.</div>
                            <button role="button" color="default" class="eqwngaz2 css-aw3j3e eklkj752">
                                <span class="css-1oteowz eklkj751">인증하기</span>
                            </button>
                        </div>
                    </div>
                    <div class="css-uewl2b eab1p4t1">
                        <label for="username" class="css-9lls5z el42wpa0">
                            <span class="css-1nv8ao4 eab1p4t2">직업</span>
                            <div class="css-1g4x5kn el42wpa1">
                                <span class="css-190blbl el42wpa2">수정</span>
                            </div>
                        </label>
                        <div class="css-0 eo4ugl00">
                            <div class=" css-19pra7p-container">
                                <span aria-live="polite" aria-atomic="false" aria-relevant="additions text" class="css-7pg0cj-a11yText"></span>
                                <div class=" css-110n24h-control">
                                    <div class=" css-1csl3pz">
                                        <div class=" css-1eschde-singleValue">대학(원)생</div>
                                        <input id="react-select-5976-input" readonly="" disabled="" tabindex="0" aria-autocomplete="list" class="css-62g3xt-dummyInput" value="">
                                    </div>
                                    <div class=" css-1wy0on6">
                                        <span class=" css-1hyfx7x"></span>
                                        <div class=" css-190l4ku-indicatorContainer" aria-hidden="true">
                                            <svg height="20" width="20" viewBox="0 0 20 20" aria-hidden="true" focusable="false" class="css-8mmkcg">
                                                <path d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z"></path>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="css-uewl2b eab1p4t1">
                        <label for="username" class="css-9lls5z el42wpa0">
                            <span class="css-1nv8ao4 eab1p4t2">비즈니스 분야</span>
                            <div class="css-1g4x5kn el42wpa1">
                                <span class="css-190blbl el42wpa2">수정</span>
                            </div>
                        </label>
                        <div class="css-0 e1xhdeur0">
                            <div class="css-19pra7p-container">
                                <span aria-live="polite" aria-atomic="false" aria-relevant="additions text" class="css-7pg0cj-a11yText"></span>
                                <div class="css-110n24h-control">
                                    <div class=" css-1csl3pz">
                                        <div class=" css-1eschde-singleValue">IT 개발</div>
                                        <input id="react-select-5977-input" readonly="" tabindex="0" aria-autocomplete="list" class="css-62g3xt-dummyInput" value="" disabled="">
                                    </div>
                                    <div class=" css-1wy0on6">
                                        <span class=" css-1hyfx7x">
                                        </span>
                                        <div class=" css-190l4ku-indicatorContainer" aria-hidden="true>">
                                            <svg height="20" width="20" viewBox="0 0 20 20" aria-hidden="true" focusable="false" class="css-8mmkcg">
                                                <path d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z"></path>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="css-1yl44rm e1xhdeur1">* 직업과 비즈니스 분야는 다른 사람들에게 공개되지 않으며, 최적화된 서비스 제공을 위해서만 활용됩니다.</p>
                    </div>
                    <div class="css-uewl2b eab1p4t1">
                        <label for="username" class="css-9lls5z el42wpa0">
                            <span class="css-1nv8ao4 eab1p4t2">관심사 선택</span>
                            <div class="css-1g4x5kn el42wpa1">
                                <span class="css-190blbl el42wpa2">수정</span>
                            </div>
                        </label>
                        <div class="css-0 e18tenip0">
                            <div class=" css-19pra7p-container">
                                <span aria-live="polite" aria-atomic="false" aria-relevant="additions text" class="css-7pg0cj-a11yText"></span>
                                <div class=" css-110n24h-control">
                                    <div class=" css-1csl3pz">
                                        <div class="css-1i828mt">
                                            <div class="css-12jo7m5">
                                                <div disabled="" class="css-1eeib3c ej1qu6x1">1개 관심사 선택</div>
                                            </div>
                                        </div>
                                        <input id="react-select-5978-input" readonly="" disabled="" tabindex="0" aria-autocomplete="list" class="css-62g3xt-dummyInput" value="">
                                    </div>
                                    <div class=" css-1wy0on6">
                                        <span class=" css-1hyfx7x"></span>
                                        <div class=" css-190l4ku-indicatorContainer" aria-hidden="true">
                                            <svg height="20" width="20" viewBox="0 0 20 20" aria-hidden="true" focusable="false" class="css-8mmkcg">
                                                <path d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z"></path>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </div>
    </main>
</body>
</html>