<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>마이페이지 탈퇴화면</title>
    <link href="../static/css/mypage_2.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../resources/static/css/header.css"><!--맨 위-->

</head>
<body>
    <main class="css-1rr4qq7 emksb11">
        <div class="css-ir5tdx ekl7e720">
            <h1 class="css-pr9ehp eab1p4t0">회원 탈퇴</h1>
            <div class="css-1jdke3e ekl7e721">
                <section class="css-0 ekl7e722">
                    <div class="css-1b9tugt ekl7e724">크몽을 떠나는 이유를 알려주세요.</div>
                    <ul class="css-1b5t924 e1t3d9bx0">
                        <li class="css-1916dlq e1t3d9bx2">
                            <label color="#ffd400" class="css-kljj1b e1eiaq4s0">
                                <span class="css-1qtribh e1eiaq4s2">
                                    <input data-testid="radio" type="radio" name="reasons" class="css-l775cp " value="이용하고 싶은 서비스가 없어요">
                                    <span color="#ffd400" class="css-16d8u49 "></span>
                                </span>
                                <span class="css-2k2mpm e1eiaq4s1">이용하고 싶은 서비스가 없어요</span>
                            </label>
                        </li>
                        <li class="css-1916dlq e1t3d9bx2">
                            <label color="#ffd400" class="css-kljj1b e1eiaq4s0">
                                <span class="css-1qtribh e1eiaq4s2">
                                    <input data-testid="radio" type="radio" name="reasons" class="css-l775cp " value="이용하고 싶은 서비스가 없어요">
                                    <span color="#ffd400" class="css-16d8u49 "></span>
                                </span>
                                <span class="css-2k2mpm e1eiaq4s1">서비스 퀄리티가 낮아요</span>
                            </label>
                        </li>
                        <li class="css-1916dlq e1t3d9bx2">
                            <label color="#ffd400" class="css-kljj1b e1eiaq4s0">
                                <span class="css-1qtribh e1eiaq4s2">
                                    <input data-testid="radio" type="radio" name="reasons" class="css-l775cp " value="이용하고 싶은 서비스가 없어요">
                                    <span color="#ffd400" class="css-16d8u49 "></span>
                                </span>
                                <span class="css-2k2mpm e1eiaq4s1">비매너 회원을 만났어요</span>
                            </label>
                        </li>
                        <li class="css-1916dlq e1t3d9bx2">
                            <label color="#ffd400" class="css-kljj1b e1eiaq4s0">
                                <span class="css-1qtribh e1eiaq4s2">
                                    <input data-testid="radio" type="radio" name="reasons" class="css-l775cp " value="이용하고 싶은 서비스가 없어요">
                                    <span color="#ffd400" class="css-16d8u49 "></span>
                                </span>
                                <span class="css-2k2mpm e1eiaq4s1">잦을 오류가 발생해요</span>
                            </label>
                        </li>
                        <li class="css-1916dlq e1t3d9bx2">
                            <label color="#ffd400" class="css-kljj1b e1eiaq4s0">
                                <span class="css-1qtribh e1eiaq4s2">
                                    <input data-testid="radio" type="radio" name="reasons" class="css-l775cp " value="이용하고 싶은 서비스가 없어요">
                                    <span color="#ffd400" class="css-16d8u49 "></span>
                                </span>
                                <span class="css-2k2mpm e1eiaq4s1">대체할 만할 서비스를 찾았어요</span>
                            </label>
                        </li>
                        <li class="css-1916dlq e1t3d9bx2">
                            <label color="#ffd400" class="css-kljj1b e1eiaq4s0">
                                <span class="css-1qtribh e1eiaq4s2">
                                    <input data-testid="radio" type="radio" name="reasons" class="css-l775cp " value="이용하고 싶은 서비스가 없어요">
                                    <span color="#ffd400" class="css-16d8u49 "></span>
                                </span>
                                <span class="css-2k2mpm e1eiaq4s1">쿠폰 · 적립금 등 혜택이 적어요</span>
                            </label>
                        </li>
                        <li class="css-1916dlq e1t3d9bx2">
                            <label color="#ffd400" class="css-kljj1b e1eiaq4s0">
                                <span class="css-1qtribh e1eiaq4s2">
                                    <input data-testid="radio" type="radio" name="reasons" class="css-l775cp " value="이용하고 싶은 서비스가 없어요">
                                    <span color="#ffd400" class="css-16d8u49 "></span>
                                </span>
                                <span class="css-2k2mpm e1eiaq4s1">기타</span>
                            </label>
                        </li>
                    </ul>
                </section>
                <section class="css-h5fkc8 ekl7e723">
                    <div class="css-1b9tugt ekl7e724">이메일 확인</div>
                    <div class="ekl7e725 css-fu65wa e1fnk6ig0">
                        <input type="text" placeholder="크몽에 가입하신 이메일을 적어주세요" class="css-dka9py e1fnk6ig1" value="">
                    </div>
                    <ul class="css-1kof67x e1oz1j4s0">
                        <li class="css-15u26v2 e1oz1j4s1">• 현재 사용중인 계정 정보는 회원 탈퇴 후 복구가 불가합니다.</li>
                        <li class="css-15u26v2 e1oz1j4s1">• 진행 중인 거래건이 있거나 페널티 조치 중인 경우 탈퇴 신청이 불가합니다.</li>
                        <li class="css-15u26v2 e1oz1j4s1">• 탈퇴 후 회원님의 정보는 전자상거래 소비자보호법에 의거한 크몽 개인정보처리방침에 따라 관리됩니다.</li>
                        <li class="css-15u26v2 e1oz1j4s1">• 현재 보유 중인 쿠폰 및 무상지급된 크몽 캐시와 마일리지는 모두 자동 소멸되며, 탈퇴 후 재가입하더라도 이미 소멸되었기 때문에 양도되지 않습니다.</li>
                        <li class="css-15u26v2 e1oz1j4s1">• 구매후기 및 답글은 탈퇴 시 자동 삭제되지 않습니다. 탈퇴 후에는 계정 정보가 삭제되어 본인 확인이 불가하므로, 탈퇴 신청 전에 게시글 삭제를 요청해 주시기 바랍니다.</li>
                        <li class="css-15u26v2 e1oz1j4s1">• 충전 캐시 또는 수익금이 있을 경우, 캐시 환불 및 수익금 출금을 통해 정산이 완료된 이후 탈퇴를 신청하셔야 합니다.<br>* 무상으로 지급된 크몽캐시는 탈퇴와 함께 자동 소멸됩니다.</li>
                    </ul>
                </section>
                <div class="css-k008qs ekl7e728">
                    <label class="css-12fs25a ekl7e726">
                        <label color="#ffd400" class="css-1qg5xs8 elgfge0">
                            <span class="css-9ffs86 elgfge2">
                                <input data-testid="checkbox" type="checkbox" class="css-l775cp ">
                                <span color="#ffd400" class="css-14dw7k7 "></span>
                            </span>
                        </label>
                        <button role="button" color="default" disabled="" class="css-10z81ll eklkj752">
                            <span class="css-1oteowz eklkj751">회원 탈퇴</span>
                        </button>
                    </label>
                </div>
            </div>
        </div>
    </main>
</body>
</html>