<!DOCTYPE html>
<html lang="ko">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- 추가하는 스타일 시트 -->
    <link href="../static/css/parent.css" rel="stylesheet">

    <!-- 추가 스크립트 -->
    <script src = "../static/js/includeHtml.js"></script>


    <meta charset="UTF-8">
    <title>부모관련 페이지</title>

</head>
<body>
<!-- 헤더 부분-->
<header>

    <h1> <<< 헤 더 부 분>>> </h1>
    <div includeHtml="header.html"></div>
    <script>includeHTML()</script>

</header>
<hr>
<main>
    <div class="parentpage">

        <!-- 구간 1 -->
        <section class="part1">
            <div class="part1-1">
                <div class="part1-2">
                    <h1>아이돌봄이 필요한 부모님들</h1>
                    <h2><b>베이비시터</b>에게 맡기세요!</h2>
                </div>
                <div class="part1-3">
                    <div class="part1-4" >
                        <a role="link"  href="#">
                            <span class="part1-5">베이비시터 등록현황</span>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <hr>

        <!-- 구간 2 -->
        <div class="part2">
            <div class="part2-1">
                <img src="../resources/images/part2-1.jpg">
                <p>전담 매니저 배치</p>
                <p>1:1</p>
            </div>
            <div class="part2-2">
                <img src="../resources/images/part2-2.jpg">
                <p>베이비시터 등록 현황</p>
                <p>00000명 이상</p>
            </div>
            <div class="part2-3">
                <img src="../resources/images/part2-3.jpg">
                <p>베이비시터 연결까지</p>
                <p>평균 2일</p>
            </div>
            <div class="part2-4">
                <img src="../resources/images/part2-4.jpg"><
                <p>베이비시터 매칭률</p>
                <p>99%</p>
            </div>
        </div>

        <hr>

        <!-- 구간 3 -->
        <div class="part3">
            <div class="part3-1">
                <h3>아래에 해당된다면, 지금 베이비시터를 의뢰하세요!</h3>
                <P>Chile Care Service가 여러분들의 고민을 해결해드릴게요</P>
                <div class="part3-2">
                    <div>가정내 돌봄이 필요한<br>부모님</div>
                    <div>실내 놀이/학습지도를 원하는<br>부모님</div>
                    <div>하원돌봄이 필요한 가정</div>
                </div>

                <div class="part3-3">
                    <div>믿을만한 베이비시터를 찾고 잇는 부모님</div>
                    <div>해당 분야 전문자를 찾고 계신 부모님</div>
                </div>

                <div>
                    <br>
                    <br>
                </div>
            </div>
        </div>

        <hr>

        <!--구간 4 -->
        <section class="part4">
            <div class="part4-1">
                <h3>베이비시터 의뢰 진행 프로세스</h3>
                <p>의뢰에서 매칭까지 평균 2일이면 해결 가능합니다.</p>

                <div class="card1" style="width: 20rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">STEP 1</h5>
                        <p class="card-text">베이비시터 요청</p>
                        <p>요청내용을 상세하게 설명해주세요!</p>
                    </div>
                </div>
                <div class="card2" style="width: 20rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">STEP 2</h5>
                        <p class="card-text">전담 매니저 배정</p>
                        <p>베이비시터 유형 기준 검토후<br>전담 매니저를 배정 -> 유선 상담을</p>
                        <P>진행합니다.</P>
                    </div>
                </div>
                <div class="card3" style="width: 20rem">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">STEP 3</h5>
                        <p class="card-text">전문가 매칭</p>
                        <p>전담 매니저가 유선으로 담당 베이비시터를 추천해드리고</p>
                        <p>미팅을 조율해 드려요!</p>
                    </div>
                </div>
                <div class="card4" style="width: 20rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">STEP 4</h5>
                        <p class="card-text">계약 및 결제</p>
                        <p>전담 매니저가 계약 방식 제안부터</p>
                        <p>진행 및 관리까지 도와드려요!</p>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <hr>

    <div class="container">
        <h2>자주 묻는 질문</h2>
        <p>추가로 질문 있으시면 고객센터로 문의 주세요.</p>
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Q.베이비시터 검증이 되나요? ☜</a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">저희 Child Care SerVice에서 담당 매니저님이 해당 베이비시터와 상담 및 적성검사를 통해 1차 검증을 하고,<br>
                        2차로 부모님과 유선 및 채팅을 통하여 소통을 하시면서 판단하셔서 선택을 하시면 됩니다.</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Q.해당 베이비시터와 인터뷰 어떻게 하면 되나요? ☜</a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">유선 및 채팅으로 소통 후에 담당 매니저님꼐 알려주시면 다음 절차로 조치해 주십니다.</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Q.돌봄비는 어떻게 지불하나요? ☜ </a>
                    </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">돌봄비는 베이비시터님께 직접적으로 주시는 방법이 있고,<br>
                        저희Child Care SerVice쪽으로 입금해주시면 해당 베이비시터님꼐 송금해드리는 방법이 있습니다.</div>
                </div>
            </div>
        </div>
    </div>





</main>

<hr>

<!--fotter 부분  -->
<footer>

    <h1> <<< footer 부분 >>> </h1>
    <div includeHtml="footer.html"></div>
    <script>includeHTML()</script>


</footer>


</body>
</html>