<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.childcareservice.mapper.PostMapper">
    <select id="selectAll" resultType="postRequestDTO">
        select POST_TITLE,
               POST_CONTENTS,
               POST_WORK_TYPE,
               POST_CAREER,
               POST_PAYMENT,
               POST_AVAILABLE_REGION,
               POST_AVAILABLE_DAYS,
               POST_AVAILABLE_TIME
        FROM TBL_POST
    </select>

    <select id="selectAllByCategory" resultType="postRequestDTO">
        select POST_TITLE,
        POST_CONTENTS,
        POST_WORK_TYPE,
        POST_CAREER,
        POST_PAYMENT,
        POST_AVAILABLE_REGION,
        POST_AVAILABLE_DAYS,
        POST_AVAILABLE_TIME
        FROM TBL_POST
        WHERE POST_WORK_TYPE IN
        <foreach collection="array" item="category" open="(" close=")" separator=",">
            #{category}
        </foreach>
    </select>
    <select id="selectAllByBudget" resultType="postRequestDTO">
        select POST_TITLE,
        POST_CONTENTS,
        POST_WORK_TYPE,
        POST_CAREER,
        POST_PAYMENT,
        POST_AVAILABLE_REGION,
        POST_AVAILABLE_DAYS,
        POST_AVAILABLE_TIME
        FROM TBL_POST
        WHERE POST_PAYMENT <![CDATA[<=]]> #{BUDGET}
    </select>

    <select id="selectAllByCategoryBudget" parameterType="java.util.HashMap" resultType="postRequestDTO">
        select POST_TITLE,
        POST_CONTENTS,
        POST_WORK_TYPE,
        POST_CAREER,
        POST_PAYMENT,
        POST_AVAILABLE_REGION,
        POST_AVAILABLE_DAYS,
        POST_AVAILABLE_TIME
        FROM TBL_POST
        WHERE POST_WORK_TYPE IN
        <foreach collection="category" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
        AND POST_PAYMENT <![CDATA[<=]]> #{budget}
    </select>
</mapper>
